#current{
	.photos{
    height:300px;
    overflow: hidden;
    padding: 0;
    img{
      height: 300px;
    }
	}
	#principal {
		h3.name {
			font: 26px/36px Helvetica Neue, Helvetica, Arial, sans-serif;
			font-weight: 500;
			margin-bottom: 0;
		}
		h4.position {
			font: 16px/26px Helvetica Neue, Helvetica, Arial, sans-serif;
			font-weight: 200;
			margin-top: 0;
		}
    a{
      color: black; 
      text-decoration: underline;
    }
	}
  .member {
      .position {
        font-size: 0.8em;
        float: right;
        color: #777
      }
      a {
        color: #333;
        text-decoration: underline;
      }
  }
}
#alumni {
  h1 { 
    a{ 
      text-decoration: underline;
      color: black;
    }
  }
  #collage {
    .col{
      padding: 0;
    }
    .photo{
        img{
          width: 100%;
        }
    }

  }
  .modal{
    width: auto; 
    height: auto;
    img{
      width: 100%; 
    }
  }
  table {
    tr {
      td {
        p { 
          margin: 5px 0; 
        }
      }
    }
  }
}