html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Adam | 
				span.part1 Stevens
		#basics.container
			.row
				.col.s8
					|   <p>Adam.Stevens <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Postdoctoral Scholar</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/adamstevens.jpg")
			#education
				h3 Education 
				.dates 2018
				.degrees Ph.D. <br/> Princeton University
				.degrees Advisor: Tom Muir
				</br>
				.dates 2012
				.degrees B.A. <br/> Johns Hopkins University


				h3 Research Interests
				p Engineering cell-cell interactions and communication
 
				h3 Awards
				p 2011 1st Place Poster, Biochemistry and Molecular Biology.UMBC Undergraduate Research Symposium in Chemical and Biological Sciences 
				p 2014-2017 National Science Foundation Graduate Research Fellowship
				p 2017 Princeton American Chemical Society Recognized Graduate Student Speaker Award

				h3 Publications
				p Gramespacher*, J.A.; <strong>Stevens*, A.J.;</strong> Thompson, R.E.; Muir, T.W. 2018, Improved protein splicing using embedded split inteins, Protein Science. 27, 614.

				p Gramespacher, J.A.; <strong>Stevens, A.J.;</strong> Nguyen, D.N.; Chin, J.W.; Muir, T.W. 2017, Intein Zymogens: Conditional Assembly and Splicing of Split Inteins via Targeted Proteolysis, J. Am. Chem. Soc. 139, 8074

				p <strong>Stevens, A.J.;</strong>  Sekar, G.; Shah, N.H.; Mostafavi, A.Z.; Cowburn, D.; Muir, T.W. 2017, A promiscuous split intein with expanded protein engineering applications, Proc. Natl. Acad. Sci. U.S.A. 114, 8538.

				p <strong>Stevens, A.J.;</strong> Brown, Z.Z.; Shah, N.H.; Sekar, G.; Cowburn, D.; Muir, T.W. 2016, Design of a Split Intein with Exceptional Protein Splicing Activity, J. Am. Chem. Soc. 138, 2162.

				p <strong>Stevens, A.J.;</strong> Guan, L.; Bebenek, K.; Kunkel, T.A.; Greenberg, M.M., 2013, DNA Polymerase λ Inactivation by Oxidized Abasic Sites, Biochemistry.  52, 975
				p *Denotes Equal contribution
		include ../components/footer.jade
