html
	head
		title Alumni | Lim Lab
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				block name
					span.part2 Lim Lab | 
					span.part1 Alumni
		#alumni.container 
			table.bordered
				tr
					th Name
					th Subsequent Position
				tr
					td
						p Rogelio Hernandez-Lopez
						p Postdoc (2016-2021)
					td
						p Assistant Professor
						p Stanford University
				tr
					td
						p Jason Duecker
						p Staff Research Associate (2019-2022)
					td
						p Lyell Immunopharma

				tr
					td
						p Wesley Mckeithan
						p Postdoc (2018-2020)
					td
						p Scientist II
						p Maze Therapeutics
				tr

					td
						p Aileen Li
						p Postdoc (2018-2020)
					td
						p Principal Scientist 
						p Lyell Immunopharma
				tr

					td
						p Joseph Choe
						p Graduate Student (2014-2020)
					td
						p Scientist II
						p Arsenal Bio
				tr

					td
						p Maia Yoshida
						p Research assistant (2018-2020)
					td
						p Master’s degree in STEM Education student 
						p King's College London
				tr

					td
						p Geoffrey O´Donoghue
						p Postdoc (2014-2020)
					td
						p Scientist
						p Cero Therapeutics
				tr

					td
						p Jasper Williams
						p Graduate Student (2014-2020)
					td
						p Scientist
						p ArsenalBio
				tr
					td
						p Nicholas Frankel
						p Postdoc (2015-2019)
					td
						p Scientist II
						p Senti Biosciences
				tr
					td 
						p Satoshi Toda
						p Postdoc (2015-2019)
					td
						p Assistant Professor
						p Nano Life Science Institute, Kanazawa University, Japan

				tr
					td 
						p Ashley Koegel
						p Postdoc (2017-2019)
					td
						p Medical Director
						p Celgene

				tr
					td 
						p Vivian Garcia
						p Visiting Scholar (2018-2019)
					td
						p Biological and Biomedical Sciences PhD student
						p Harvard University

				tr
					td 
						p Nira Krasnow
						p Research Technician (2018-2019)
					td
						p Medical student
						p Harvard Medical School
				tr
					td 
						p Jonathan Brunger 
						p Postdoc (2015-2019)
					td
						p Assistant Professor
						p Vanderbilt University
						p School of Engineering
						p: a(href="https://brungerlab.com/") Brunger Lab Website

				tr
					td 
						p Joan Garbarino
						p Lab Manager (2009-2019)
					td
						p Retired

				tr
					td 
						p Sarah Levinson
						p Postdoc (2016-2019)
					td
						p Scientist
						p Kyverna Therapeuthics

				tr
					td 
						p Igal Sterin
						p Research Technician (2015-2018)
					td
						p Molecular Biology Ph.D. student
						p University of Utah
				tr
					td 
						p Crystal Ghosh
						p Research Technician (2016-2018)
					td
						p Research Associate
						p Calico Life Sciences
				tr
					td 
						p Jakub Rajniak
						p Postdoctoral Fellow (2016-2017)
					td
						p Postdoctoral Fellow
						p Stanford University

				tr
					td 
						p Lukasz Bugaj
						p Postdoc (2014-2017)
					td
						p Assistant Professor
						p University of Pennsylvania
						p Dept. of Bioengineering
						p: a(href="https://www.bugajlab.com/") Bugaj Lab Website	
				tr
					td 
						p Kole Roybal
						p Postdoc (2013-2017)
					td
						p Assistant Professor
						p University of California, San Francisco
						p Dept. of Microbiology and Immunology
						p: a(href="https://www.roybal-lab.org/") Roybal Lab Website	
				tr
					td 
						p Isabel Kolinko
						p Postdoc (2015-2017)
					td
						p Professur
						p Institute for Microbiology, ETH Zurich
				tr
					td 
						p Russell Gordley
						p Postdoc (2009-2016)
					td
						p Synthetic Biology Group Leader
						p Senti Biosciences
				tr
					td 
						p Leonardo Morsut
						p Postdoc (2012-2016)
					td
						p Assistant Professor
						p Dept. of Stem Cell Biology and Regenerative Medicine
						p University of Southern California
						p: a(href="http://morsutlab.usc.edu/") Morsut Lab Website				
				tr
					td 
						p Amir Mitchell
						p Postdoc (2012-2016)
					td
						p Assistant Professor
						p University of Massachusetts Medical School
						p: a(href="https://mitchell-lab.umassmed.edu/") Mitchell Lab Website

				tr
					td 
						p Scott Coyle
						p Graduate Student (2009-2016)
					td
						p Assistant Professor
						p UW-Madison

				tr
					td 
						p Levi Rupp
						p Postdoc (2014-2016)
					td
						p Associate Director
						p Janssen Pharmaceutica
				tr
					td 
						p Krista McNally
						p Specialist (2010-2016)
					td
						p Scientist, Chimera Bioengineering

				tr
					td 
						p Xin Xiong
						p Postdoc (2013-2015)
					td
						p Lead Scientist
						p Agenovir Corporation

				tr
					td 
						p Kara Helmke
						p Education Coordinator (2013-2015)
					td
						p Lecturer in Bioengineering
						p Stanford University

				tr
					td 
						p Chia-Yung Wu
						p Postdoc (2010-2015)
					td
						p Scientist
						p Amgen

				tr
					td 
						p Whitney Walker
						p Junior Specialist (2015)
					td
			
				tr
					td 
						p Jared Toettcher
						p Postdoc (2010-2015)
					td
						p Assistant Professor of Molecular Biology
						p Princeton University
						p: a(href="http://molbio.princeton.edu/faculty/molbio-faculty/795-toettcher") Toettcher Website
				tr
					td
						p Elias Puchner
						p Postdoc (2010-2014)
					td
						p Assistant Professor of Physics
						p University of Minnesota
						p: a(href="http://www.physics.umn.edu/people/puchner.html") Puchner Website
				tr
					td
						p Lei Stanley Qi
						p Systems Biology Fellow (2012-2014)
					td 
						p Assistant Professor of Bioengineering
						p Stanford University
				tr
					td
						p Lingfeng (Kitty) Liu
						p <em>Postdoc</em> (2010-2014)
					td
						p Postdoc
				tr
					td
						p Hyun Youk
						p <em>Postdoc</em> (2011-2014)
					td
						p Assistant Professor of Physics &amp; Nanobiology 
						p Delft University of Technology, the Netherlands
						p <a href="http://www.youklab.org" target="_blank">Youk Lab website</a>

				tr
					td
						p Jesse Zalatan
						p <em>Postdoc</em> (2008-2014)
					td
						p Assistant Professor of Chemistry
						p University of Washington, Seattle
						p
						p <a href="http://depts.washington.edu/chem/people/faculty/zalatan.html" target="_blank">Zalatan Lab website</a>

				tr
					td
						p Thomas Stevens
						p <em>Graduate Student</em> (2012-2014)
					td
						p Masters degree in Biophysics, UCSF

				tr
					td
						p Jaline Gerardin
						p <em>Graduate Student</em> (2007-2014)
					td
						p Research Scientist
						p Institute for Disease Modeling
						p Intellectual Ventures Labs

				tr
					td
						p Veronica Zepeda 
						p <em>Science Education</em> (2011-2013)
					td
						p Lecturer
						p Department of Biochemistry and Molecular Biology
						p University of Nevada, Reno

				tr
					td
						p Jessica Walter
						p <em>Postdoc</em> (2009-2013)
					td
						p Scientist
						p Amyris

				tr
					td
						p Reid Williams
						p <em>Graduate Student</em>(2006-2013)
					td
						p Bioscience resident
						p IDEO

				tr
					td
						p Maria Borovinskaya
						p <em>Postdoc</em>(2009-2013)
					td

				tr
					td
						p Jason Park
						p <em>Graduate Student</em>(2008-2013)
					td
						p UCSF MSTP

				tr
					td
						p Ping (Andy) Wei
						p <em>Postdoc</em>(2007-2013)
					td 
						p Assistant Professor
						p Center for Quantitative Biology
						p Peking University, China
						p <a href="http://cqb.pku.edu.cn/WeiLab/">Wei Lab website</a>

				tr
					td 
						p Simon Lee
						p <em>Research Associate</em>
					td

				tr
					td 
						p Zairan Liu
						p <em>Undergraduate</em>
					td Graduate Student
						p iPQB, UCSF

				tr
					td 
						p Mia Morgan
						p <em>Administrative Manager</em> (2011-2012)
					td Financial Analyst
						p Department of Cellular and Molecular Pharmacology
						p University of California, San Francisco

				tr
					td 
						p Pedro Beltrao
						p <em>Postdoc</em>(2008-2013)
					td



				tr
					td
						p Illes Farkas
						p <em>Postdoc</em> (visitor: 2012)
					td
						p Senior Research Associate, Statistical and Biological Physics group
						p Hungarian Academy of Sciences
						p <a href="http://hal.elte.hu/fij">Personal website</a>



				tr
					td
						p Angi Chau
						p <em>Graduate Student</em>(2004-2012)
					td
						p Director of Bourn Idea Lab
						p Castilleja School



				tr
					td
						p Oliver Hoeller
						p <em>Postdoc</em> (2008-2012)
					td
						p Continued to: Postdoctoral Fellow, Weiner Lab
						p University of California, San Francisco



				tr
					td
						p Wilson Wong
						p <em>Postdoc</em> (2007-2012)
					td
						p Assistant professor, Biomedical Engineering
						p Boston University
						p <a href="http://www.bu.edu/wilsonwonglab/">Wong Lab website</a>



				tr
					td
						p Jacinto Chen
						p <em>Junior Specialist</em>
					td 
						p Undergraduate
						p University of California, Berkeley



				tr
					td
						p Benjamin Rhau
						p <em>Graduate Student</em>
					td


				tr
					td
						p Silinda Neou
						p <em>Associate Specialist</em>
					td



				tr
					td
						p Raquel Gomes
						p <em>Science Education</em>
					td Adjunct Professor
						p University of San Francisco



				tr
					td
						p Andrew Horwitz
						p <em>Postdoc</em>
					td
						p Scientist
						p LS9



				tr
					td
						p Leon Chan
						p <em>Postdoc</em>
					td
						p Postdoctoral Fellow, Weis Lab
						p University of California, Berkeley



				tr
					td
						p Caleb Bashor
						p <em>Graduate Student</em>
					td 
						p Postdoctoral Fellow, James J. Collins Lab
						p Boston University



				tr
					td
						p Anselm Levskaya
						p <em>Postdoc</em>
					td 
						p Postdoctoral Fellow, Deisseroth Lab
						p Stanford University



				tr
					td
						p Matthew Good
						p <em>Graduate Student</em>
					td
						p Postdoctoral Fellow, Heald Lab
						p University of California, Berkeley



				tr
					td 
						p Angela Won
						p <em>Graduate Student</em>
					td



				tr
					td
						p Stacy Fang
						p <em>Junior Specialist (CPL)</em>
					td
						p Medical Student
						p New York Medical College



				tr
					td
						p Liam Holt
						p <em>Postdoc</em>
					td
						p <a href="http://mcb.berkeley.edu/faculty-and-research/fellowships/liam-holt/">Bowes Research Fellow</a>
						p University of California, Berkeley
						p liamholt <img src="images/at.gif" class="at"> berkeley.edu

				tr
					td
						p Albert Lu
						p <em>Research Associate</em>
					td

				tr
					td
						p Aynur Tasdemir 
						p <em>Postdoc</em>
					td
						p Postdoctoral Fellow
						p Regeneron Pharmaceuticals
						p tasdemir.aynur <img src="images/at.gif" class="at"> gmail.com

				tr
					td
						p Sergio Peisajovich
						p <em>Postdoc</em>
					td
						p Staff Scientist
						p Illumina, Inc.
						p sergio.peisajovich <img src="images/at.gif" class="at"> gmail.com<br>

				tr
					td 
						p Noah Helman
						p <em>Postdoc</em>
					td
						p Scientist
						p LS9

				tr
					td 
						p Alice Willis
						p <em>Administrative Assistant</em>
					td
						p Administrative Assistant 
						p Weissman Lab
						p University of California San Francisco

				tr
					td 
						p Alex Watters
						p <em>Postdoc</em>
					td
						p Scientist 
						p Amgen
						p awatters74 <img src="images/at.gif" class="at"> yahoo.com

				tr
					td
						p Nili Sommovilla
						p <em>Science Education</em>
					td
						p Medical Student
						p University of California San Francisco
						p nili.sommovilla <img src="images/at.gif" class="at"> ucsf.edu

				tr
					td 
						p Grace Tang
						p <em>Undergraduate Student</em>
					td
						p Student, Bioengineering Graduate Program
						p Stanford University
						p gwtang <img src="images/at.gif" class="at"> stanford.edu

				tr
					td
						p Farid Ahmad
						p <em>Postdoc</em>
					td

				tr
					td
						p Nathan Sallee
						p <em>Graduate Student</em>
					td
						p Scientist I, Protein Chemistry
						p Five Prime Therapeutics
						p nsallee <img src="images/at.gif" class="at"> gmail.com

				tr
					td
						p Shude Yan
						p <em>Postdoc</em>
					td
						p Researcher, Antibody Engineering, 
						p University of California San Francisco

				tr
					td
						p Julie Singleton
						p <em>Research Associate</em>
					td

				tr
					td
						p Attila Remenyi
						p <em>Postdoc</em>
					td
						p Associate Research Professor
						p Eotvos Lorand University, Budapest, Hungary
						p remenyi <img src="images/at.gif" class="at"> elte.hu

				tr
					td 
						p Brian Yeh
						p <em>Graduate Student</em>
					td 
						p Postdoctoral Fellow, Weiss Lab
						p Northwestern University
						p brian.yeh <img src="images/at.gif" class="at"> northwestern.edu

				tr
					td
						p Amy Coombs
						p <em>Research Associate</em>
					td

				tr
					td
						p Keiko Petrosky
						p <em>Graduate Student</em>
					td
						p keikopet <img src="images/at.gif" class="at"> gmail.com

				tr
					td
						p Brian Hillier
						p <em>Postdoc</em>
					td
						p Catalyst Biosciences
						p brianhillier <img src="images/at.gif" class="at"> gmail.com

				tr
					td
						p AnricaAnjuli Deb
						p <em>Research Associate</em>
					td 
						p Student, Graduate School of Journalism
						p University of California

				tr
					td
						p Venizelos Papayannopoulos
						p <em>Graduate Student</em>
					td 
						p Program Leader Track
						p Division of Molecular Immunology
						p MRC National Institute of Medical Research
						p The Ridgeway, Mill Hill
						p London NW7 1AA, UK
						p vpapaya <img src="images/at.gif" class="at"> nimr.mrc.ac.uk

				tr
					td
						p Roby Bhattacharyya
						p <em>Graduate Student</em>
					td
						p Resident, Department of Medicine
						p Massachusetts General Hosptial
						p rbhattacharyya <img src="images/at.gif" class="at"> partners.org

				tr
					td
						p Ethan Mirsky
						p <em>Research Associate</em>
					td
						p Biophysics Graduate Program
						p University of California San Francisco 
						p eamirsky <img src="images/at.gif" class="at"> yahoo.com

				tr
					td
						p John Dueber
						p <em>Graduate Student</em>
					td
						p Assistant Professor
						p Department of Bioengineering
						p University of California, Berkeley
						p jdueber <img src="images/at.gif" class="at">berkeley.edu

				tr
					td 
						p Joseph McNulty
						p <em>Postdoc</em>
					td
						p Postdoctoral Fellow, Scot Wolf Lab
						p University of Massachusetts Worcester

				tr
					td
						p Sang-Hyun Park
						p <em>Postdoc</em>
					td
						p Assistant Professor
						p School of Life Sciences, Seoul National University
						p biopark <img src="images/at.gif" class="at"> snu.ac.kr

				tr
					td
						p Kayam Chak
						p <em>Research Associate</em>
					td
						p Graduate Student
						p Johns Hopkins University
						p kchak1 <img src="images/at.gif" class="at"> jhmi.edu

				tr
					td
						p Ali Zarrinpar
						p <em>Graduate Student</em>
					td
						p Resident, Department of Surgery
						p University of California, Los Angeles
						p azarrin <img src="images/at.gif" class="at"> hotmail.com

				tr
					td
						p Baruch Z. Harris
						p <em>Graduate Student</em>
					td
						p Associate
						p McKinsey &amp; Company
						p baruchzh <img src="images/at.gif" class="at"> hotmail.com

				tr
					td
						p Ken Prehoda
						p <em>Postdoc</em>
					td
						p Assistant Professor
						p Institute of Molecular Biology, University of Oregon
						p prehoda <img src="images/at.gif" class="at"> molbio.uoregon.edu 
						p <a href="http://www.molbio.uoregon.edu/facres/prehoda.html">http://www.molbio.uoregon.edu/facres/prehoda.html </a>

				tr
					td
						p Jessica Scott
						p <em>Research Associate</em>
					td 
						p Resident, Department of Pediatrics <br>
						p University of Wisconsin<br> jscott <img src="images/at.gif" class="at"> uwhealth.org

				tr
					td
						p Do Lee
						p <em>Research Associate</em>
					td
						p Biosphere 2 Center
						p Oracle, AZ

				tr
					td
						p Jack Nguyen
						p <em>Graduate Student</em>
					td
						p Catalyst Biosciences
		include ../components/footer.jade
