html
    head
        title
        include ../components/people_head.jade
    body
        include ../components/header.jade
        #title.container
            h1.row.s12
                span.part2 Cecilia (Hanxu) | 
                span.part1 Zhang
        #basics.container
            .row
                .col.s8
                    |   <p>hanxu.zhang <img src="images/at.gif" class="at"> ucsf.edu</p>
                    |   <p><em>Junior Specialist</em></p>
                .col.s4
                    img.responsive-img.z-depth-1(src="images/ceciliazhang.jpeg")

            #education
                h3 Education

                p 2021-2022
                .degrees M.S., Bioengineering
                .degrees University of California, Los Angeles

                p 2017-2021
                .degrees B.S., Biochemistry
                .degrees University of California, Los Angeles

                h3 Publications
                p P. Pandolfi, <strong>H. Zhang</strong>, Y.E. Nadalin, M.E. Prasetyo, A.A. Toubian, B.M. Wu, and D.T. Kamei, “Degradation of Hydrogel Beads for the Detection of Serum Bicarbonate Levels for the Diagnosis of Metabolic Alkalosis at the Point of Care.” Soft Matter, 18, (2022) 8147–56.
                p E.A. Pumford, J. Lu, I. Spaczai, M.E. Prasetyo, E.M. Zheng, <strong>H. Zhang</strong>, and D.T. Kamei, “Developments in integrating nucleic acid isothermal amplification and detection systems for point-of-care diagnostics,” Biosens. Bioelectron. 170 (2020) 112674.
                 
        include ../components/footer.jade