html
	head
		title
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Devan |
				span.part1 Shah
		#basics.container
			.row
				.col.s8
					|   <p>devan.shah <img src="images/at.gif" class="at"> ucsf.edu</p>
					|	<p><em> Bioengineering: Graduate Student </em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/devanshah.jpg")
			#education
				h3 Education
				p 2020-Current
				.degrees Ph.D, Graduate Student <br/> Bioengineering <br/> University of California Berkeley & UCSF
				p 2017-2019
				.degrees M.S., Graduate Student <br/> Cell and Molecular Biology <br/> San Francisco State University
				p 2012 - 2016
				.degrees B.S., Cell and Molecular Biology <br/> Cell and Molecular Biology <br/> San Francisco State University
				h3 Research Interests
				p Leveraging understandings of fundamental biological processes to engineer cell therapies.

				h3 Awards
				p 2019 University's Graduate Student Award for Distinguished Achievement (San Francisco State University)
				p 2019 SFSU/UCSF Cell Engineering MS Fellowship (San Francisco State University)
				p 2019 Robert Maxwell Scholarship (San Francisco State University)
				p 2018 	NIH and RISE Graduate Fellowship (San Francisco State University)
				p 2017 	National Science Foundation - Science and Technology Center - Center for Cellular Construction Graduate Fellowship (NSF-STC-CCC) (San Francisco State University)
				
		include ../components/footer.jade
