html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Greg | 
				span.part1 Allen
		#basics.container
			.row
				.col.s8
					|   <p>Greg.Allen <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Clinical Fellow in Medical Oncology</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/oldscience.jpg")
			#education
				h3 Education
				.dates 2015 - present
				.degrees Clinical Fellow in Medical Oncology <br/> University of California, San Francisco 
				<br/>
				.dates 2013 - 2015
				.degrees Internship and Residency in Internal Medicine <br/> Osler Medical Housestaff Training Program <br/>The Johns Hopkins Hospital
				<br/>
				.dates 2004-2013
				.degrees Ph.D., Biochemistry <br/> Stanford University
				<br/>
				.dates 2004 - 2013
				.degrees M.D. <br/> Stanford University
				<br/>
				.dates 2000-2004
				.degrees B.S., Chemical and Biomedical Engineering <br/> Carnegie Mellon University
	
				h3 Research Interests
				p Development of synthetic biology tools for adoptive cell therapy in solid malignancies. 
				h3 Awards
				p 2004 Geoffrey D. Parfitt Award for Excellence in Research

				h3 Publications
				p Barnhart, E.L., Lee, K.C., <strong>Allen, G.M.</strong>, Theriot, J.A., Mogilner, A. "Balance between cell-substrate adhesion and myosin contraction determines the frequency of motility initiation in fish keratocytes." <em>Proc. Natl. Acad. Sci. USA</em> (2015) 112(16):5045-50.
				p <strong>Allen, G.M.</strong>, Mogilner, A, Theriot, J.A. "Electrophoresis of cellular membrane components creates the directional cue guiding galvanotaxis." <em>Current Biology</em> (2013) 23(7):560-8.
				p Wilson, C.A., Tsuchida, M.A., <strong>Allen, G.M.</strong>, Barnhart, E.L., Applegate, P.T., Yam, P.T., Ji, L., Keren, K., Danuser, G., Theriot, J.A. "Myosin II contributes to cell-scale actin network treadmilling through network disassembly." <em>Nature</em> (2010) 465(7296):373-7.	
				p Barnhart, E.L., <strong>Allen, G.M.</strong>, Julicher, F., Theriot, J.A. "Bipedal locomotion in crawling cells." <em>Biophys. J.</em> (2010) 98(6):933-42.
				p Keren, K., Pincus, Z., <strong>Allen, G.M.</strong>, Barnhart, E.L., Marriott, G., Mogilner, A., Theriot, J.A. "Mechanisms of shape determination in motile cells." <em>Nature</em> (2008) 453(7194):475-80.
				p <strong>Allen, G.M.</strong>, Shortall, B.P., Gemci, T., Corcoran, T.E., Chigier, N.A. "Computational simulations of airflow in an in vitro model of the pediatric upper airways." <em>J. Biomech. Eng.</em> (2004) 126(5):604-13.
				p Gemci, T., Shortall, B., <strong>Allen, G.M.</strong>, Corcoran, T.E., Chigier, N.A. "A CFD study of the throat during aerosol drug delivery using heliox and air." <em>J. Aerosol Science</em> (2003) 34(9):1175-1192.																	

				
		include ../components/footer.jade
