html
    head
        title
        include ../components/people_head.jade
    body
        include ../components/header.jade
        #title.container
            h1.row.s12
                span.part2 Harkiran | 
                span.part1 Bhasin
        #basics.container
            .row
                .col.s8
                    |   <p>Harkiran.Bhasin <img src="images/at.gif" class="at"> ucsf.edu</p>
                    |   <p><em>Junior Specialist</em></p>
                .col.s4
                    img.responsive-img.z-depth-1(src="images/harkiranbhasin.png")
            #education
                h3 Education
                p 2018-2022
                .degrees B.S., Molecular, Cell, and Developmental Biology <br/> University of California, Santa Cruz

                h3 Research Interests
                p Using understanding of cell biology and immunology to better implement synthetic biological approaches in targeted therapies

        include ../components/footer.jade
