html
    head
        title
        include ../components/people_head.jade
    body
        include ../components/header.jade
        #title.container
            h1.row.s12
                span.part2 Hersh | 
                span.part1 Bhargava
        #basics.container
            .row
                .col.s8
                    |   <p>Hersh.Bhargava <img src="images/at.gif" class="at"> ucsf.edu</p>
                    |   <p><em>Graduate Student</em></p>
                    |   <p><em>Joint with the El-Samad Lab</em></p>
                    |   <p><a href="https://hershbhargava.com" target="_blank">Hersh's Website</a></p>
                .col.s4
                    img.responsive-img.z-depth-1(src="images/hershbhargava.jpg")
            #education
                h3 Education
                p 2019-Present
                .degrees Ph.D., Biophysics <br/> Designated emphasis in Complex Biological Systems <br/> University of California, San Francisco
                p 2015-2019
                .degrees B.A., Molecular and Cell Biology <br/> Concentration in Biological Chemistry <br/> University of California, Berkeley

                h3 Research Interests
                p Joining computational and synthetic biology to design and engineer cell therapies.

                h3 Awards
                p 2023 UC President’s Lindau Nobel Laureate Meeting Fellowship
                p 2022 UCSF Entrepreneurship Scholarship
                p 2021-2024 Department of Defense NDSEG Fellowship
                p 2021-2024 UCSF Discovery Fellowship (Byers Family Fellow)
                p 2021 UCSF Computational Innovator Pre-Doctoral Fellowship
                p 2021 UCSF Biophysics Graduate Program Teaching Award
                p 2021 National Science Foundation GRFP Honorable Mention
                p 2020 ARCS Foundation Scholarship (NVIDIA Scholar)
                p 2017 HHMI Janelia Undergraduate Scholars Fellowship

                h3 Publications

                .title Synthetic cytokine circuits that drive T cells into immune-excluded tumors
                .authors Allen GM*, Frankel NW*, Reddy NR, <strong>Bhargava HK</strong>, Yoshida MA, Stark SR, Purl M, Lee J, Yee JL, Yu W, Li AW, Garcia KC, El-Samad H, Roybal KT, Spitzer MH, Lim WA. 
                .journal <em>Science</em>. 2022. doi: 10.1126/science.aba1624.

                <br>

                .title Decoding CAR T cell phenotype using combinatorial signaling motif libraries and machine learning
                .authors Daniels KG, Wang S, Simic MS, <strong>Bhargava HK</strong>, Capponi SD, Tonai Y, Yu W, Bianco S, Lim WA 
                .journal <em>Science</em>. 2022. doi: 101126/scienceabq0225.

                <br>

                .title Structural basis for autophagy inhibition by the human Rubicon-Rab7 complex
                .authors <strong>Bhargava HK</strong>, Tabata K, Byck JM, Hamasaki M, Farrell DP, Anishchenko I, DiMaio F, Im YJ, Yoshimori T, Hurley JH 
                .journal <em>Proc Natl Acad Sci USA</em>. 2020. doi: 101073/pnas2008030117.

                <br>

                .title Computationally derived image signature of stromal morphology is prognostic of prostate cancer recurrence following prostatectomy in African American patients
                .authors <strong>Bhargava HK</strong>, Leo P, Elliott R, Janowcyzk A, Whitney J, Gupta S, Fu P, Yamoah K, Rebbeck T, Feldman MD, Lal P, Madabhushi A 
                .journal <em>Clinical Cancer Research</em>. 2020. doi: 101158/1078-0432CCR-19-2659.

                <br>

                .title The HaloTag as a general scaffold for far-red tunable chemigenetic indicators
                .authors Deo C*, Abdelfattah AS*, <strong>Bhargava HK</strong>, Berro A, Falco N, Moeyaert B, Chupanova M, Lavis LD, Schreiter ER
                .journal <em>Nature Chemical Biology</em>. 2021. doi: 101101/20200108898783.

                <br>

                .title PD-L1 Expression Reveals Significant Association with Squamous Differentiation in Upper Tract Urothelial Carcinoma
                .authors Arriola A, Farahani S, <strong>Bhargava HK</strong>, Guzzo T, Brooks J, Lal P
                .journal <em>American Journal of Clinical Pathology</em>. 2019. doi: 101093/ajcp/aqz002.

                <br>

        include ../components/footer.jade
