html
    head
        title
        include ../components/people_head.jade
    body
        include ../components/header.jade
        #title.container
            h1.row.s12
                span.part2 Hersh | 
                span.part1 Bhargava
        #basics.container
            .row
                .col.s8
                    |   <p>Hersh.Bhargava <img src="images/at.gif" class="at"> ucsf.edu</p>
                    |   <p><em>Graduate Student</em></p>
                    |   <p><em>Joint with the El-Samad Lab</em></p>
                .col.s4
                    img.responsive-img.z-depth-1(src="images/hershbhargava.jpg")
            #education
                h3 Education
                p 2019-Present
                .degrees Ph.D., Biophysics <br/> Designated emphasis in Complex Biological Systems <br/> University of California, San Francisco
                p 2015-2019
                .degrees B.A., Molecular and Cell Biology <br/> Concentration in Biological Chemistry <br/> University of California, Berkeley

                h3 Research Interests
                p Joining computational and synthetic biology to design and engineer cell therapies.

                h3 Awards
                p 2021-2024 Department of Defense NDSEG Fellowship
                p 2021-2024 UCSF Discovery Fellowship
                p 2021 UCSF Computational Innovator Pre-Doctoral Fellowship
                p 2021 UCSF Biophysics Graduate Program Teaching Award
                p 2021 National Science Foundation GRFP Honorable Mention
                p 2020 ARCS Foundation Scholarship (NVIDIA Scholar)
                p 2017 HHMI Janelia Undergraduate Scholars Fellowship

                h3 Publications
                p Daniels, K.G., Wang, S., Simic, M.S., <strong>Bhargava, H.K.</strong>, Capponi, SD., Tonai, Y., Yu, W., Bianco, S., Lim, W.A. "Exploring the rules of chimeric antigen receptor phenotypic output using combinatorial signaling motif libraries and machine learning" BioRxiv. (2021). doi: 10.1101/2022.01.04.474985.
                 
                p <strong>Bhargava, H.K.</strong>, Tabata, K., Byck, J.M., Hamasaki, M., Farrell, D.P., Anishchenko, I., DiMaio, F., Im, Y.J., Yoshimori, T., Hurley, J.H. "Structural basis for autophagy inhibition by the human Rubicon-Rab7 complex" Proc. Natl. Acad. Sci. USA. (2020). doi: 10.1073/pnas.2008030117.

                p <strong>Bhargava, H.K.</strong>, Leo, P., Elliott, R., Janowcyzk, A., Whitney, J., Gupta, S., Fu, P., Yamoah, K., Rebbeck, T., Feldman, D., Lal, P., Madabhushi, A. "Computationally derived image signature of stromal morphology is prognostic of prostate cancer recurrence following prostatectomy in African American patients." Clinical Cancer Research. (2020). doi: 10.1158/1078-0432.CCR-19-2659.

                p Deo, C.*, Abdelfattah, A.S.*, <strong>Bhargava, H.K.</strong>, Berro, A., Falco, N., Moeyaert, B., Chupanova, M., Lavis, L.D., Schreiter, E.R. "Bright and tunable far-red chemigenetic indicators." bioRxiv. (2020). doi: 10.1101/2020.01.08.898783.

                p Arriola, A., Farahani, S., <strong>Bhargava, H.K.</strong>, Guzzo, T., Brooks, J., Lal, P. "PD-L1 Expression Reveals Significant Association with Squamous Differentiation in Upper Tract Urothelial Carcinoma." American Journal of Clinical Pathology. (2019). doi: 10.1093/ajcp/aqz002.

        include ../components/footer.jade
