html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Jason | 
				span.part1 Duecker
		#basics.container
			.row
				.col.s8
					|   <p>Jason.Duecker <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Junior Specialist</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/JasonDuecker.jpg")
			#education
				h3 Education 
				p 2017-2019
				.degrees B.S. Microbiology <br/> University of California, Santa Barbara


				h3 Research Interests
				p Synthetic biology approches to cell based therapeutics & systems biology. 

		include ../components/footer.jade


				
