html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Jeremy | 
				span.part1 Villafuerte
		#basics.container
			.row
				.col.s8
					|   <p>jeremy.villafuerte <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Junior Specialist</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/jeremyvillafuerte.jpg")
			#education
				h3 Education 
				p 2017-2020
				.degrees B.S., Biochemistry and Molecular Biology <br/> University of California, Davis


						h3 Research Interests
						p Structure-guided molecular design to construct synthetic biological circuits.
		

				h3 Awards
				p 2020 Molecular and Cellular Biology Departmental Citation for Outstanding Academic Performance (UC Davis)
				p 2020 ASBMB Certification with Distinction


				h3 Publications
						
				p Shevchenko, N., <strong>Villafuerte, J.</strong>, Ling, H., Walkling, C. J., Zhang, D. D., Harvey, B. G., & Mascal, M. (2022). Operationally simple electrochemical method for the conversion of acetone into high-specification jet fuel. In Sustainable Energy & Fuels. Royal Society of Chemistry (RSC). https://doi.org/10.1039/d2se01177h
			

		include ../components/footer.jade

				