html
	head
		title
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Josiah |
				span.part1  Gerdts
		#basics.container
			.row
				.col.s8
					|   <p>Josiah.Gerdts <img src="images/at.gif" class="at"> ucsf.edu</p>
					|	<p><em>Neurology Fellow</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/Josiah.jpg")
			#education
				h3 Education
				p 2017 - present
				.degrees Neurology Residency <br/> University of California, San Francisco
				p 2016 - 2017
				.degrees Internship, Internal Medicine <br/> University of California, San Francisco
				p 2007 - 2016
				.degrees MD PhD <br/> Medicine and Neurobiology <br/> Washington Univiersity School of Medicine, St Louis

				h3 Research Interests
				p Synthetic biology tools to study and perturb cellular interactions in the context of neurologic disease

				h3 Fellowships, Awards
				p 2019 NIH R25 Fellowship (NINDS)
				p 2015 Spencer T. and Ann W. Olin Fellowship
				p 2014 Washington University O’Leary Prize for Excellence in Neuroscience Research
				p 2012 Washington University Hope Center Award
				p 2011 NIH F31 Ruth L Kirchenstein Pre-doctoral fellowship (NINDS)
				p 2004 Wisconsin Hilldale research fellowship

				h3 Publications
				p <strong>Gerdts J</strong> ", Milbrandt J, DiAntonio A. Axon Self-Destruction: New Links among SARM1, MAPKs, and NAD+ Metabolism. Neuron. 2016 Feb 3;89(3):449-60"
				p <strong>Gerdts J</strong> ", Brace EJ, Sasaki Y, DiAntonio A, Milbrandt J. SARM1 activation triggers axon degeneration locally via NAD⁺ destruction. Science. 2015 Apr 24;348(6233):453-7"
				p <strong>Gerdts J</strong> ", Summers DW, Sasaki Y, DiAntonio A, Milbrandt J. Sarm1-mediated axon degeneration requires both SAM and TIR interactions. J Neurosci. 2013 Aug 14;33(33):13569-80."
				p "Bhattacharya MR, " <strong>Gerdts J</strong>  ", Naylor SA, Royse EX, Ebstein SY, Sasaki Y, Milbrandt J, DiAntonio A. A model of toxic neuropathy in Drosophila reveals a role for MORN4 in promoting axonal degeneration. J Neurosci. 2012 Apr 11;32(15):5054-61."
				p <strong>Gerdts J</strong> ", Sasaki Y, Vohra B, Marasa J, Milbrandt J. Image-based screening identifies novel roles for IkappaB kinase and glycogen synthase kinase 3 in axonal degeneration. J Biol Chem. 2011 Aug 12;286(32):28011-8."
				p "Ferrazzano P, Shi Y, Manhas N, Wang Y, Hutchinson B, Chen X, Chanana V, " <strong> Gerdts J </strong> ", Meyerand ME, Sun D. Inhibiting the Na+/H+ exchanger reduces reperfusion injury: a small animal MRI study. Front Biosci. 2011 Jan 1;3:81-8."
				p "Luo J, Wang Y, Chen H, Kintner DB, Cramer SW, " <strong> Gerdts J </strong> ", Chen X, Shull GE, Philipson KD, Sun D. A concerted role of Na+ -K+ -Cl- cotransporter and Na+/Ca2+ exchanger in ischemic damage. J Cereb Blood Flow Metab. 2008 Apr;28(4):737-46."
				p "Kintner DB, Luo J, " <strong> Gerdts J </strong> ", Ballard AJ, Shull GE, Sun D. Role of Na+-K+-Cl- cotransport and Na+/Ca2+ exchange in mitochondrial dysfunction in astrocytes following in vitro ischemia. Am J Physiol Cell Physiol. 2007 Mar;292(3):C1113-22."

		include ../components/footer.jade
