html
  head
    title
    include ../components/people_head.jade
  body
    include ../components/header.jade
    #title.container
      h1.row.s12
        span.part2 Juhyun | 
        span.part1 Cho
    #basics.container
      .row
        .col.s8
          |  <p>juhyun.cho <img src="images/at.gif" class="at"> ucsf.edu</p>
          |  <p><em> UCSF/SFSU Cell Design Institute Visiting Scholar</em></p>
        .col.s4
          img.responsive-img.z-depth-1(src="images/juhyuncho.jpg")
      #education
        h3 Education
        p 2020-Present
        .degrees M.S, Cell & Molecular Biology 
        .degrees San Francisco State University 
        p 2015-2017
        .degrees B.A., Integrative Biology 
        .degrees University of California, Berkeley
        h3 Research Interests
        p Engineering T cells to treat brain tumors
        h3 Awards
        p 2020-2022 UCSF/SFSU Cell Design Institute Scholarship 
        p 2017 Center for Research and Education on Aging at UC Berkeley 
        h3 Publications
        p Choe, J.H., Watchmaker, P.B., Simic, M.S., Gilbert, R.D., Li, A.W., Krasnow, N.A., Downey, K.M., Yu, W., Carrera, D.A., Celi, A., <strong> Cho, J. </strong>, Briones, J.D., Duecker, J.M., Goretsky, Y.E., Dannenfelser, R, Cardarelli, L., Troyanskaya, O., Sidhu, S.S., Roybal, K.T., Okada, H., Lim, W.A. SynNotch-CAR T cells overcome challenges of specificity, heterogeneity and persistence in treating xenograft model of glioblastoma. Science Translational Medicine. (2021) 
    include ../components/footer.jade