html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Jungmin | 
				span.part1 Lee
		#basics.container
			.row
				.col.s8
					|   <p>Jungmin.Lee <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Postdoctoral Fellow</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/jungminlee.jpg")
			#education
				h3 Education 
				.dates 2021 - Present
				.degrees Postdoctoral Fellow <br/> University of California, San Francisco
				</br>
				.dates 2015 - 2020
				.degrees Ph.D., Chemistry <br/> Harvard University
				.degrees Advisor: Pamela Silver
				</br>
				.dates 2011 - 2015
				.degrees B.S., Chemistry <br/> Duke University
				</br>
				h3 Research Interests
				p Synthetic biology approaches to improve immunotherapy for solid tumors

				h3 Awards
				p 2021 Robert L. Fine Cancer Research Postdoctoral Fellowship

				p 2015 Hypercube Scholar Award

				p 2014 1st Place, Frank and Sara McKnight Prize in Biochemistry

				p 2014 Biochemistry Summer Research Fellowship, Duke University

				h3 Publications
				p <strong>Lee, J.</strong>, Vernet, A., Gruber, N.G., Kready, K.M., Burrill, D.R., Way, J.C. and Silver, P.A. Rational engineering of an erythropoietin fusion protein to treat hypoxia. Protein Engineering, Design and Selection. Under revision.

				p <strong>Lee, J.</strong>, Vernet, A., Redfield, K., Lu, S., Ghiran, I.C., Way, J.C. and Silver, P.A. Rational design of a bifunctional AND-gate ligand to modulate cell–cell interactions. ACS Synthetic Biology 9(2), 191-197 (2020).

				p <strong>Lee, J.</strong>, Redfield, K., Way, J.C. and Silver, P.A. Minimizing side effects, maximizing returns – what makes a smart therapeutic design? The Biochemist (Lond) 41(3), 28–32 (2019).

				p Kahsai, A.W., Wisler, J.W., <strong>Lee, J.</strong>, Ahn, S., Cahill III, T.J., Dennison, S.M., Staus, D.P., Thomsen, A.R.B., Anasti, K.M., Pani, B., Wingler, L.M., Desai, H., Bompiani, K.M., Strachan, R.T., Qin, X., Alam, S.M., Sullenger, B.A. and Lefkowitz, R.J. Conformationally selective RNA aptamers allosterically modulate the beta-2-adrenoceptor. Nature Chemical Biology 12(9), 709–716 (2016).

		include ../components/footer.jade


				
