html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Ki | 
				span.part1 Kim
		#basics.container
			.row
				.col.s8
					|   <p>Ki.Kim <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Graduate Student</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/kikim.jpg")
			#education
				h3 Education 
				.dates 2017-present
				.degrees Graduate Student Pharmaceutical Sciences and Pharmacogenomics Program
				.degrees University of California, San Francisco
				</br>
				.dates 2011-2015
				.degrees Biomedical Engineering
				.degrees University of Michigan


				h3 Research Interests
				p Synthetic biology approaches to engineering cells

				h3 Awards
				p 2016 Outstanding Postbac Research (NIH)

				h3 Publications
				p Xu,H., Majmudar J.D.,Davad, D., Ghanakota, P., <strong>Kim, K.H.</strong>, Carlson, H.A., Showalter, H.D., Martin, B.R., Amidon, G.L. "Substrate-Competitive Activity-Based Profiling of Ester Prodrug Activating Enzymes". Mol. Pharmaceutics(2015)
				p Bodogai, I., <strong>Kim, K.H.</strong>, Kim, Y., Moritoh, K., Chen, C., Gusev, Fedor., Vaughan., K., Shulzhenko, N., Mattison, J., Lee-Chang, C., Chen, W., Carlson, O., Becker, K.G., Gurung, M., Morgun, A., White, J., Meade, T., Perdue, K., Mack, M., Ferruci, L., Trinchieri, G., Roaev, E., Cabo, R., Egan, J., Wu J., Biragyn, A., "Commensal bacteria cause insulin resistance in aging by activating innate B1a cells". Under Review

		include ../components/footer.jade
				
