html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Kyle | 
				span.part1 Daniels
		#basics.container
			.row
				.col.s8
					|   <p>Kyle.Daniels <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Postdoctoral Fellow</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/kyle.jpg")
			#education
				h3 Education
				.dates 2015 - present
				.degrees Postdoctoral Fellow <br/> University of California, San Francisco 
				<br/>
				.dates 2010 - 2015
				.degrees Ph.D., Biochemistry <br/> Duke University
				<br/>
				.dates 2006 - 2010
				.degrees B.S., Biochemistry <br/> University of Maryland College Park
	
				h3 Research Interests
				p T cell biology, immunotherapy, biophysics. 
				h3 Awards
				p 2016-2020 Damon Runyon Fellowship Award
				p 2016-2019 Burroughs Wellcome Fund Postdoctoral Enrichment Program Award
				p 2011-2015 National Science Foundation Graduate Research Fellowship
				p 2010-2013 Duke University Dean's Fellowship
				p 2010 Duke University Diversity Enhancement Fellowship
				p 2010 Merck Index Award, University of Maryland Dept. of Chemistry and Biochemistry
				p 2007-2010 Howard Hughes Medical Institute Undergraduate Research Fellowship
				p 2006-2010 Banneker-Key Scholarship
				p 2006-2010 Ernest M. Levin Memorial Fund Scholarship
				p 2009 First Place in Biochemical Sciences, UMBC Undergraduate Research Symposium in Chemical and Biological Sciences

				h3 Publications
				p <strong>Daniels, K.G.</strong>; Suo, Y.; Oas, T.G.; "Conformational kinetics reveals affinities of protein conformational states." <em>Proc. Natl. Acad. Sci. USA</em> (2015) 112(30), 9352-9357
				p Deis, L.N.; Wu, Q.; Wang, Y.; Qi, Y.; <strong>Daniels, K.G.</strong>; Zhou, P.; Oas, T.G.; "Suppression of conformational heterogeneity at a protein-protein interface." <em>Proc. Natl. Acad. Sci. USA</em> (2015) 112(29), 9028-9033
				p Mosley, P.A.; <strong>Daniels, K.G.</strong>; Oas, T.G. "Electrostatic Energetics of Bacillus subtilis Ribonuclease P Protein Determined by Nuclear Magnetic Resonance-Based Histidine pKa Measurements." <em>Biochemistry</em>, <em>In Press</em>
				p <strong>Daniels, K.G.</strong>; Tonthat, N.K.; McClure, D.R.; Chang, Y.; Liu, X.; Schumacher, M.A.; Fierke, C.A.; Schmidler, S.C.; Oas, T.G.; "Ligand concentration regulates the pathways of coupled protein folding and binding." <em>J. Am. Chem. Soc.</em> (2014) 136(3), 822–825.
				p DeArmond, P.D.; Xu, Y.; Strickland, E.C.; <strong>Daniels, K.G.</strong>; Fitzgerald, M.C.;  "Thermodynamic Analysis of Protein-Ligand Interactions in Complex Biological Mixtures using a Shotgun Proteomics Approach." <em>J. Proteome Res.</em> (2011) 10(11), 4948-4958.
				p <strong>Daniels, K.G.</strong>; Beckett, D. "Biochemical Properties and Biological Function of a Monofunctional Microbial Biotin Protein Ligase." <em>Biochemistry</em> (2010) 49, 5358–5365.
				
		include ../components/footer.jade
