html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				block name
					span.part2 Ricardo | 
					span.part1 Almeida
		#basics.container
			.row
				.col.s8
					block basic
						| <p>ricardo.almeida <img src="images/at.gif" class="at"> ucsf.edu</p>        
						|	<p><em>Postdoctoral Fellow</em></p>
				.col.s4
					block image
						img.responsive-img.z-depth-1(src="images/ricardo.jpg")
			block info
				|    <div id="education">
				|    	<h3>Education</h3>
				|		<div class="dates">2011 - present</div><div class="degrees">Postdoctoral Fellow<br/>University of California, San Francisco</div><br/>
				|        <div class="dates">2008 - 2011</div><div class="degrees">Postdoctoral Fellow<br/>University of Edinburgh, UK</div><br/>
				|		<div class="dates">2002 - 2008</div><div class="degrees">Ph.D., Molecular and Cell Biology<br/>University of Edinburgh, UK </div><br/>
				|		<div class="dates">1997 - 2002 </div><div class="degrees">B.S., Biochemistry<br/>Universidade de Coimbra, Portugal</div><br/>
				|  	</div>
				|    <h3>Publications</h3>
				|    <p>Breitkreutz, A.*, Choi, H.*, Sharom, J.R.*,Boucher, L.*, Neduva, V.*, Larsen, B., Lin, Z., Breitkreutz, B.J., Stark, C., Liu, G., Ahn, J., Dewar-Darch, D., Reguly, T., Tang, X., <strong>Almeida, R.</strong>, Qin, Z.S., Gingras, A.C., Nesvizhskii, A.I., Tyers, M. "A Global Protein Kinase and Phosphatase Interaction Network in Yeast." <em>Science</em> 328, 1043-1046 (2010). (*equal contribution)</p>
				|    <p>Kagansky, A.*, Folco, H.D.*, <strong>Almeida, R.*</strong>, Pidoux, A.L., Boukaba, A., Simmer, F., Urano, T., Hamilton, G.L., Allshire, R.C. "Synthetic Heterochromatin Bypasses RNAi and Centromeric Repeats to Establish Functional Centromeres." <em>Science</em> 324, 1716-1719 (2009). (*equal contribution)</p>
				|    <p><strong>Almeida, R. </strong>& Allshire, R.C. "RNA silencing and genome regulation." <em>Trends in Cell Biology</em> 15, 251-258 (2005).</p>
			block extra

		include ../components/people_footer.jade
