html
    head
        title
        include ../components/people_head.jade
    body
        include ../components/header.jade
        #title.container
            h1.row.s12
                span.part2 Mikail | 
                span.part1 Alejandro
        #basics.container
            .row
                .col.s8
                    |   <p>Mikail.Alejandro <img src="images/at.gif" class="at"> ucsf.edu</p>
                    |   <p><em>Junior Specialist</em></p>
                .col.s4
                    img.responsive-img.z-depth-1(src="images/mikailalejandro.jpg")

            #education
                h3 Education

                p 2022-present
                .degrees PROPEL post-baccalaureate scholar 
                .degrees University of California, San Francisco

                p 2022-2024
                .degrees Pre-health Professionals Certificate Program
                .degrees University of California, Berkeley Extension

                p 2018-2022
                .degrees B.S., Chemistry 
                .degrees University of San Francisco 

            #awards
                h3 Awards
                p 2024 American Physician-Scientist Association and Burroughs Wellcome Fund Diversity Summit Fellow
                p 2022 PROPEL Scholar
                p 2022 Fulbright-Hays GPA scholar
                p 2021 UCSF SSRP NIH scholar
        
            #publications
                h3 Publications

                p <strong>Alejandro, MG</strong>., Schultz K., Killilea DW. Blood draw site and blood matrix influence mineral assessment. bioRxiv. Published online January 1, 2024:2024.11.23.625018. doi:10.1101/2024.11.23.62501
                p Gallivan, A., <strong>Alejandro, M.</strong>, Kanu, A., Zekaryas, N., Horneman, H., Hong, L. K., Vinchinsky, E., Lavelle, D., Diamond, A. M., Molokie, R. E., Ramasamy, J., & Rivers, A. (2023). Reticulocyte mitochondrial retention increases reactive oxygen species and oxygen consumption in mouse models of sickle cell disease and phlebotomy-induced anemia. Experimental Hematology. https://doi.org/10.1016/j.exphem.2023.02.005
                 
        include ../components/footer.jade
