html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Milos | 
				span.part1 Simic
		#basics.container
			.row
				.col.s8
					|   <p>milos.simic<img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Postdoctoral Fellow</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/milos.jpg")
			#education
				h3 Education 
				p 2017-Present
				.degrees Postdoctoral Fellow <br/> UCSF
				p 2012-2016
				.degrees Ph.D., Biology <br/> Universite Pierre et Marie Curie
				.degrees Resesarch performed in the laboratory of Dr. Andrew Dillin, U.C. Berkeley
				p 2009-2012
				.degrees Master's Degree, Genetics <br/> Ecole Normale Superieure and Universite Pierre et Marie Curie
				.degrees ENS diploma, Biology (Major) and Environment and Society (Minor)
				.degrees Pasteur Institute diploma: Molecular and cellular biology, focus on genetics
				p 2012
				.degrees Master's degree in Knowledge, Innovation, and Management <br/> Universite Pierre et Marie Curie

				h3 Research Interests
				p T cell engineering

				h3 Publications
				p <strong>Simic, M.S.</strong>, Moehle, E., Schinzel, R., Lorbeer, F., Jullie, D., Halloran, J., Heydari, K., Sanchez, M., Hockemeyer, D., and Dillin, A. "Transient activation of the UPRER is an essential step in the acquisition of pluripotency during reprogramming." Science advances 5, eaaw0025 (2019) 


				p Lee, H.J., Noormohammadi, A., Koyuncu, S., Calculli, G., <strong>Simic, M.S.</strong>, Herholz M., Trifunovic, A., and Vilchez, D. "Prostaglandin signals from adult germline stem cells delay somatic ageing of Caenorhabditis elegans." Nature Metabolism 1–21 (2019)

				p <strong>Simic, M.S.</strong>, Dillin, A..  "They Lysosome, Elixir of Neural Stem Cell Youth."" Cell Stem Cell (2018)

				p Kim, H.-E., Grant, A.R., <strong>Simic, M.S.</strong>, Kohnz, R.A., Nomura, D.K., Durieux, J., Riera, C.E., Sanchez, M., Kapernick, E., Wolff, S., et. al. "Lipid Biosynthesis Coordinates a Mitochondrial-to-Cytosolic Stress Response" Cell (2016) 

				p Douglas, P.M.*, Baird, N.A.*, <strong>Simic, M.S.</strong>, Uhlein, S., McCormick, M.A., Wolff, S.C., Kennedy, B.K., Dillin, A. "Heterotypic Signals from Neural HSF-1 Separate Thermotolerance from Longevity"". Cell Rep (2015)
 
				p Baird, N.A.*, Douglas, P.M.*, <strong>Simic, M.S.</strong>, Grant, A.R., Moresco, J.J., Wolff, S.C., Yates, J.R., Manning, G., Dillin, A. "HSF-1-mediated cytoskeletal integrity determines thermotolerance and life span."" Science (2014)
 
				p Vilchez, D.*, <strong>Simic, M.S.*</strong>, Dillin, A.  "Proteostasis and aging of stem cells."" Trends Cell Biol (2014) 
 
		include ../components/footer.jade
 

			
				
