html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Name | 
				span.part1 Last Name
		#basics.container
			.row
				.col.s8
					|   <p>Name.Lastname <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Position</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/puffy.jpg")
			#education
				h3 Education 
				p Year 1
				.degrees Degree1 <br/> School 1
				.degrees Advisor: David J Mooney
				p Year 2
				.degrees Degree2 <br/> School 2


				h3 Research Interests
				p Sentence about your research

				h3 Awards
				p Year1 Award1
				p Year2 Award2

				h3 Publications
				p <strong>Your name</strong> Reference 


		include ../components/footer.jade
