html
    head
        title
        include ../components/people_head.jade
    body
        include ../components/header.jade
        #title.container
            h1.row.s12
                span.part2 Nick | 
                span.part1 Shin
        #basics.container
            .row
                .col.s8
                    |   <p>nick.shin <img src="images/at.gif" class="at"> ucsf.edu</p>
                    |   <p><em>Postdoctoral Fellow</em></p>
                .col.s4
                    img.responsive-img.z-depth-1(src="images/nickshin.jpg")

            #education
                h3 Education

                p 2022-Present
                .degrees Postdoctoral Fellow
                .degrees University of California, San Francisco

                p 2017-2022
                .degrees Ph.D., Chemistry
                .degrees Princeton University (Advisor: Robert Knowles)

                p 2013-2017
                .degrees B.S., Chemistry
                .degrees University of California, Berkeley

                h3 Research Interests
                p Physical and chemical principles for organizing cell-cell interface complexes

                h3 Awards
                p 2023-2026 Damon Runyon Quantitative Biology Fellowship Award
                p 2021 Bristol-Myers Squibb Graduate Fellowship in Synthetic Organic Chemistry
                p 2017-2022 Centennial Fellowship in Natural Sciences and Engineering
                p 2017 The James Y. and Harriet P. Tong Undergraduate Prize in Chemistry 
                p 2013-2017 Presidential Science Scholarship (South Korea)
                p 2012 Presidential Honors (South Korea)

                h3 Publications
                p <strong>Shin, N. Y.</strong>, Tsui, E., Bird, M., Knowles, R. R. Radicals as Exceptional Electron-Withdrawing Groups: Nucleophilic Aromatic Substitution of Electron-Rich Halophenols via Homolysis-Enabled Electronic Activation. J. Am. Chem. Soc. 2022, 144, 21783–21790. doi: 10.1021/jacs.2c10296.
                p Earley, J. D., Zieleniewska, A., Ripberger, H. H., <strong>Shin, N. Y.</strong>, Lazorski, M. S., Mast, Z. J., Sayre, H., Knowles, R. R., McCusker, J. K., Scholes, G. D., Reid, O. G., Rumbles, G. Ion Pair Reorganization Regulates Reactivity in Photoredox Catalysts. Nat. Chem. 2022, 14, 746–753. doi: 10.1038/s41557-022-00911-6.
                p Murray, P. R. D., Cox, J. H., Chiappini, N. D., Roos, C. B., McLoughlin, E. A., Hejna, B. G., Nguyen, S. T., Ripberger, H. H., Ganley, J. M., Tsui, E., <strong>Shin, N. Y.</strong>, Koronkiewicz, B., Qiu, G., Knowles, R. R. Photochemical and Electrochemical Applications of Proton-Coupled Electron Transfer in Organic Synthesis. Chem. Rev. 2022, 122, 2017–2291. doi: 10.1021/acs.chemrev.1c00374
                p <strong>Shin, N. Y.</strong>, Ryss, J. M., Zhang, X., Miller, S. J., Knowles, R. R. Light-Driven Deracemization Enabled by Excited-State Electron Transfer. Science, 2019, 366, 364–369. doi: 10.1126/science.aay2204
                p Choi, E., Lee, S., Yun, H., Lee, S., Gao, C., <strong>Shin, Y.</strong>, and Kwon, O. Single Crystals of a 2-Dimensional Metal Coordination Polymer Containing Pendant Carbazole Groups. Bull. Korean. Chem. Soc. 2013, 34, 3903–3905. doi: 10.5012/bkcs.2013.34.12.3903
                 
        include ../components/footer.jade