html
	head
		title
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Nish |
				span.part1 Reddy
		#basics.container
			.row
				.col.s8
					|   <p>Nishith.Reddy <img src="images/at.gif" class="at"> ucsf.edu</p>
					|	<p><em>Graduate Student</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/nishreddy.jpg")
			#education
				h3 Education
				p 2017-Present
				.degrees Graduate Student <br/> Integrative Program in Quantitative Biology <br/> University of California, San Francisco
				p 2012 - 2015
				.degrees B.S., Bioengineering <br/> Concentration in Systems and Synthetic Biology <br/> University of California, Berkeley

				h3 Research Interests
				p Understanding design principles of biological circuits and applying synthetic biology to engineer cell therapies.

				h3 Awards
				p 2015 Dr. Thomas Budinger Bioengineering Exploration Undergraduate Research Award (UC Berkeley)
				p 2015 College of Engineering Dean's Honor (UC Berkeley)
		include ../components/footer.jade
