html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Oscar | 
				span.part1 Campos
		#basics.container
			.row
				.col.s8
					|   <p>Oscar.Campos <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Postdoctoral Scholar</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/oscarcampos.jpg")
			#education
				h3 Education 
				.dates 2021-present
				.degrees Postdoctoral Scholar <br/> University of California, San Francisco
				</br>
				.dates 2018-2021
				.degrees Postdoctoral Scholar <br/> University of California, Los Angeles
				</br>
				.dates 2011-2018
				.degrees Ph.D., Molecular Biology <br/> University of California, Los Angeles
				</br>
				.dates 2008-2011
				.degrees M.Sc., Kinesiology <br/> Western University
				</br>
				.dates 2004-2008
				.degrees B.Sc., Kinesiology <br/> Western University


				h3 Research Interests
				p Synthetic epigenetics and multicellular differentiation

				h3 Awards
				p 2022-2025 Helen Hay Whitney Fellowship
				p 2021 UCSF Health Innovation via Engineering Emerging Fellows Program
				p 2016 UCLA Grad Division Dissertation Year Fellowship
				p 2013-2016 Philip Whitcome Pre-doctoral Training Fellowship

				h3 Publications
				p Attar N*, <strong>Campos OA*</strong>, Vogelauer M*, Cheng C, Xue Y, Schmollinger S, Salwinski L, Mallipeddi NV, Boone BA, Yen L, Yang S, Zikovich S, Dardine J, Carey MF, Merchant SS, Kurdistani SK. The histone H3-H4 tetramer is a copper reductase enzyme. Science. 2020 07 03; 369(6499):59-64. * Co-first authors.
				p Xue Y, Schmollinger S, Attar N, <strong>Campos OA</strong>, Vogelauer M, Carey MF, Merchant SS, Kurdistani SK. Endoplasmic reticulum-mitochondria junction is required for iron homeostasis. J Biol Chem. 2017 08 11; 292(32):13197-13204.
				p Macadangdang BR, Oberai A, Spektor T, <strong>Campos OA*</strong>, Sheng F, Carey MF, Vogelauer M, Kurdistani SK. Evolution of histone 2A for chromatin compaction in eukaryotes. Elife. 2014; e02792.
				p Hall KE, McDonald MW, Grisé KN, <strong>Campos OA*</strong>, Noble EG, Melling CW. The role of resistance and aerobic exercise training on insulin sensitivity measures in STZ-induced Type 1 diabetic rodents. Metabolism. 2013 Oct; 62(10):1485-94.
				p Murias JM, Dey A, <strong>Campos OA*</strong>, Estaki M, Hall KE, Melling CW, Noble EG. High-intensity endurance training results in faster vessel-specific rate of vasorelaxation in type 1 diabetic rats. PLoS One. 2013; 8(3):e59678.
				p Murias JM, <strong>Campos OA*</strong>, Hall KE, McDonald MW, Melling CW, Noble EG. Vessel-specific rate of vasorelaxation is slower in diabetic rats. Diab Vasc Dis Res. 2013 Mar; 10(2):179-86.
				p * Equal contribution



				
