html
    head
        title
        include ../components/people_head.jade
    body
        include ../components/header.jade
        #title.container
            h1.row.s12
                span.part2 Philip | 
                span.part1 Pauerstein
        #basics.container
            .row
                .col.s8
                    |   <p>philip.pauerstein <img src="images/at.gif" class="at"> ucsf.edu</p>
                    |   <p><em>Clinical Fellow in Pediatric Hematology, Oncology, and BMT</em></p>
                .col.s4

            #education
                h3 Education

                p 2021-Present
                .degrees Clinical Fellow in Pediatric Hematology, Oncology, and BMT
                .degrees University of California, San Francisco

                p 2017-2020
                .degrees Resident Physician, Pediatrics
                .degrees University of California, San Francisco

                p 2008-2017
                .degrees MD, PhD (Developmental Biology)
                .degrees Stanford University

                p 2004-2008
                .degrees BA, Biochemistry and Cell Biology
                .degrees Rice University

                h3 Research Interests
                p Cell therapies for pediatric malignancies and immune dysregulatory disorders.

                h3 Awards
                p Resident Teaching Award, Department of Pediatrics (2018)

                p 2014-2017 NIH F30 Individual National Research Service Award for M.D./Ph.D. Training, NIDDK 

                p Howard Hughes Medical Institute Medical Fellows research fellowship (2010-2011)

                h3 Publications
                p Duvall E, Benitez C, Tellez K, Enge M, <strong>Pauerstein PT</strong>, Li L, Baek S, Quake S, Smith JP, Sheffield NC, Hager G, Kim SK, Arda HE (2022). Single-cell transcriptome and accessible chromatin dynamics during endocrine pancreas development. PNAS.

                p <strong>Pauerstein PT</strong>, Tellez K, Willmarth KB, Park KM, Hsueh B, Arda HE, Gu X, Aghajanian H, Epstein JA, Deisseroth K, Kim SK. (2017). A radial axis defined by Semaphorin to Neuropilin signaling controls pancreatic islet morphogenesis. Development.

                p Hsueh B, Burns V, <strong>Pauerstein PT</strong>, Holzem K, Ye L, Engberg K, Wang A, Gu X, Chakravarthy H, Arda HE, Charville G, Vogel H, Efimov I, Kim SK, Deisseroth K. (2017). Pathways to clinical CLARITY: methodologies for transparent-volume quantitative analysis of irregular, soft, and heterogeneous tissues in development and disease. Scientific Reports. 

                p <strong>Pauerstein PT</strong>*, Park KM*, Peiris HS, Wang J, and Kim SK (2016). Research Resource: Genetic Labeling of Human Islet Alpha Cells. Mol. Endocrinol. 30, 248–253.

                p <strong>Pauerstein PT</strong>, Sugiyama T, Stanley SE, McLean GW, Wang J, Martín MG, and Kim SK (2015). Dissecting human gene functions regulating islet development with targeted gene transduction. Diabetes.

                p Benitez CM, Qu K, Sugiyama T, <strong>Pauerstein PT</strong>, Liu Y, Tsai J, Gu X, Ghodasara A, Arda HE, Zhang J, et al. (2014). An Integrated Cell Purification and Genomics Strategy Reveals Multiple Regulators of Pancreas Development. PLoS Genet 10, e1004645.

                p Dalle Nogare DN, <strong>Pauerstein PT</strong>, Lane ME, G2 Acquisition by Transcription-Independent Mechanism at the Zebrafish Midblastula Transition, Developmental Biology 326 (2009).

                p McCollum CM, Amin SR, <strong>Pauerstein PT</strong>, Lane ME, A zebrafish LMO4 ortholog limits the size of the forebrain and eyes through negative regulation of six3b and rx3, Developmental Biology 309 (2007).

                 
        include ../components/footer.jade