html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Maria del Pilar | 
				span.part1 Lopez Pazmino
		#basics.container
			.row
				.col.s8
					|   <p>pilar.lopez <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Research Junior Specialist </em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/pilarlopez.jpg")
			#education
				h3 Education 
				p BA 
				.degrees Chemistry <br/> 
				
				p BS
				.degrees Molecular Biology <br/> 

				p MS
				.degrees Molecular Biology <br/>

				h3 Research Interests
				p T cell therapeutics and synthetic biology

				h3 Awards
				p NSF-STC (Center for Cellular Construction CCC), MARC-NIH/RISE/Bridges

				h3 Publications
				p Toda, S., McKeithan, W.L., Hakkinen, T.J., <strong>Lopez, P.</strong>, Klein, O.D., Lim, W.A. "Engineering synthetic morphogen systems that can program multicellular patterning". Science 2020

				p Hernandez-Lopez,R.A., Yu, W., Cabral, K.A.*, Creasey, O.A.*, <strong>Lopez Pazmino, M.P.</strong>, Tonai,Y., De Guzman, A., Mäkelä, A., Saksela, K., Gartner, Z.J., Lim, W.A “T cell circuits that sense antigen density with an ultrasensitive threshold”. Science (2021). 
				p Evason KJ, Francisco MT, Juric V, Balakrishnan S, <strong> Lopez Pazmino MdP </strong>, Gordan JD, et al. (2015) Identification of Chemical Inhibitors of β-Catenin-Driven Liver Tumorigenesis in Zebrafish. PLoS Genet 11(7): e1005305 


		include ../components/footer.jade
