html
    head
        title
        include ../components/people_head.jade
    body
        include ../components/header.jade
        #title.container
            h1.row.s12
                span.part2 Ramya | 
                span.part1 Deshpande
        #basics.container
            .row
                .col.s8
                    |   <p>Ramya.Deshpande <img src="images/at.gif" class="at"> ucsf.edu</p>
                    |   <p><em> Visiting Graduate Student</em></p>
                    |   <p><em>Joint with the Brenner Lab</em></p>
                .col.s4
                    img.responsive-img.z-depth-1(src="images/ramyadeshpande.jpeg")
            #education
                h3 Education
                p 2021-Present
                .degrees Ph.D., Bioengineering <br/> Harvard University
                p 2016-2020
                .degrees B.S., Bioengineering <br/> Minor in Computer Science <br/> California Institute of Technology

                h3 Research Interests
                p Predictive assembly of multicellular structures through programmed adhesion

        include ../components/footer.jade
