html
    head
        title
        include ../components/people_head.jade
    body
        include ../components/header.jade
        #title.container
            h1.row.s12
                span.part2 Riley | 
                span.part1 Stockard
        #basics.container
            .row
                .col.s8
                    |   <p>Riley Stockard <img src="images/at.gif" class="at"> ucsf.edu</p>
                    |   <p><em>PhD Student</em></p>
                .col.s4
                    img.responsive-img.z-depth-1(src="images/rileystockard.jpg")

            #education
                h3 Education

                p 2021-Present
                .degrees Ph.D., Bioengineering
                .degrees University of California, San Francisco & Berkeley

                p 2015-2019
                .degrees B.S., Bioengineering 
                .degrees University of Washington

                h3 Research Interests
                p Design principles for biocomputing and synthetic biology. 

                h3 Awards
                p 2021 NSF GRFP
                p 2019 Bioengineering Departmental Honors, University of Washington
                p 2018 Levinson Emerging Scholar, University of Washington
                p 2017 Washington Research Foundation Fellow, University of Washington
                p 2016 Mary Gates Research Scholar, University of Washington
                p 2015 Honors Merit Scholarship, University of Washington


                h3 Publications
                 
        include ../components/footer.jade