html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Rogelio | 
				span.part1 Hernandez-Lopez
		#basics.container
			.row
				.col.s8
					|   <p>rahl.emc <img src="images/at.gif" class="at"> gmail.com</p>        
					|	<p><em>Postdoctoral Fellow</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/rogelio.png")
			#education
				h3 Education 
				.dates 2016-Present
				.degrees Postdoctoral Fellow <br/> University of California, San Francisco
				</br>
				.dates 2009 - 2015
				.degrees Ph.D., Chemistry Physics <br/> Harvard University 
				</br>
				.dates 2003 - 2007
				.degrees B.S., Chemistry <br/> Universidad Nacional Autonoma de Mexico
				h3 Research Interests
				p Next-generation T cell therapies for cancer treatment: Antigen density sensors
				p Science education and outreach in <a href="https://www.clubesdeciencia.mx"> Mexico </a> and <a href="https://www.scienceclubsint.org"> Latin America </a>

				h3 Awards
				p 2021-2024 Burroughs Wellcome Fund Career Award at the Scientific Interface
				p 2020 The American Society for Cell Biology Public Engagement Award
				p 2017-2021 Merck Postdoctoral Fellowship (Cancer Research Institute)
				p 2016 Postdoctoral Fellowship (UC MEXUS)
				p 2012 Christensen Prize for Outstanding Research Achievement (Harvard University)
				p 2010-2012 Fundacion Mexico en Harvard, Fellowship for Ph.D. degree
				p 2010 Gabino Barreda Medal Class 2004 in Chemistry (Given to the top student in each class, UNAM, Mexico)
				
				h3 Publications
				p <strong>Hernandez-Lopez,R.A.</strong>, Yu, W., Cabral, K.A.*, Creasey, O.A.*, Lopez Pazmino, M.P., Tonai,Y., De Guzman, A., Mäkelä, A., Saksela, K., Gartner, Z.J., Lim, W.A “T cell circuits that sense antigen density with an ultrasensitive threshold”. Science (2021). 
				p Huang, X., Williams, J.Z., Chang, R, Li, Z., Burnett, C.E., <strong>Hernandez-Lopez, R.</strong>, Setiady, I., Gai, E., Patterson, D.M., Yu, W., Roybal, K.T., Lim, W.A.#, Desai, T.A.# “DNA scaffolds enable efficient and tunable functionalization of biomaterials for immune cell modulation”. Nature Nanotechnology (2020).
				p Ludington, W.B., Ishikawa, H., Serebrenik, Y.V., Ritter, A.*, <strong>Hernandez-Lopez, R.*</strong>, Gunzenhauser,J.*, Kannegaard, E., and Marshall, W.F. “A systematic comparison of mathematical models for inherent measurement of ciliary length: how a cell can measure length and volume”. Biophysical Journal (2015).
				p Ramirez-Cordero, B. , Toledano, Y., Cano-Sanchez, P., <strong>Hernandez-Lopez, R.</strong>, Flores-Solis, D., Saucedo-Yanez, A, Chavez-Uribe, I., Brieba de Castro, L., and del Río-Portilla, F. “Cytotoxicity of recombinant tamapin and related toxin-like peptides on model cell lines”. Chemical research in toxicology (2014).
				p Gurrola Briones, G., <strong>Hernandez-Lopez, R.</strong>, Rodriguez de la Vega, R., Varga, Z., Ferreira Batista, C., Salas-Castillo, S., Panyi, G., Del Rio-Portilla, F., and Possani, L. D. “Structure, function and chemical synthesis of Vaejovis mexicanus peptide 24: a novel potent blocker of Kv1.3 potassium channels of human T lymphocytes”. Biochemistry (2012).
				p RedwineW. B. *,  <strong>Hernandez-Lopez, R.*</strong>, Zou, S., Huang, J., Reck-Peterson, S. L., and Leschziner, A. E. “Structural basis for microtubule binding and release by dynein”. Science (2012). 
				p Saucedo-Yanez, A., Flores-Solis, D., Rodriguez de la Vega, R., Ramirez-Cordero, B.,  <strong>Hernandez-Lopez, R.</strong>, Cano-Sanchez, P., Noriega-Navarro, R., Garcia-Valdez, J., Coronas-Valderrama, F., de Roodt, A., Brieba de Castro, L., Possani, L. D., and del Río-Portilla, F. “New tricks of an old pattern: structural versatility of scorpion toxins with common cysteine spacing”. The Journal of Biological Chemistry (2012).
				p Chandramouli P., <strong>Hernandez-Lopez, R.</strong>, Wang, H., and Leschziner, A. “Validation of the orthogonalt tilt reconstruction method with a biological test sample”. Journal of Structural Biology (2011).
				
				p * Equal contribution
				
		include ../components/footer.jade
