html
    head
        title
        include ../components/people_head.jade
    body
        include ../components/header.jade
        #title.container
            h1.row.s12
                span.part2 Rudolph “Rudy” | 
                span.part1 Cheong
        #basics.container
            .row
                .col.s8
                    |   <p>Rudolph.Cheong <img src="images/at.gif" class="at"> ucsf.edu</p>
                    |   <p><em>Masters Student</em></p>
                .col.s4
                    img.responsive-img.z-depth-1(src="images/rudycheong.jpg")

            #education
                h3 Education
                p 2020-Present
                .degrees M.S., Cell and Molecular Biology
                .degrees San Francisco State University 

                p 2019-2020
                .degrees Post-Baccalaureate, Biomedical Science
                .degrees University of Chicago 

                p 2014-2019
                .degrees B.S., Molecular Cell Biology and Physiology
                .degrees California State University, Long Beach 

                h3 Research Interests
                p Synthetic biology and T cell engineering 

                h3 Awards
                p 2021 Robert William Maxwell Graduate Scholarship (San Francisco State University)
                p 2020 SFSU/UCSF Cell Design Institute Graduate Trainee (San Francisco State University)
        
                p 2020 NIH-RISE Pre-Doctoral Fellowship (San Francisco State University)

                p 2019 NIH-PREP Scholar Fellowship (University of Chicago) 

                p 2017 Summer Undergraduate Research Fellowship (University of California, Irvine)

                p 2016 NIH-BUILD Scholar Fellowship (California State University, Long Beach) 

                p 2015 UROP Trainee Scholarship (California State University, Long Beach)

                p 2015 Dean’s List (California State University, Long Beach)

        include ../components/footer.jade


