html
	head
		title 
		include ../components/people_head.jade
	body
		include ../components/header.jade
		#title.container
			h1.row.s12
				span.part2 Wei | 
				span.part1 Yu
		#basics.container
			.row
				.col.s8
					|   <p>Wei.Yu <img src="images/at.gif" class="at"> ucsf.edu</p>        
					|	<p><em>Specialist</em></p>
				.col.s4
					img.responsive-img.z-depth-1(src="images/wei.jpg")
			#education
				h3 Education
				.dates 2000 - 2004
				.degrees Postdoctoral Fellow <br/> Department of Anatomy <br/> University of California, San Francisco 
				<br/>
				.dates 1996 - 2000
				.degrees Ph.D., Anatomy and Molecular Cell Biology<br/> Nagoya University <br/>Nagoya, Japan
				<br/>
				.dates 1981-1986
				.degrees M.D. <br/> Zhejiang Medical University, China
				<br/>

				h3 Awards
				p 2004-2005 Fellowship, National Kidney Foundation
				p 2001-2004 Fellowship, American Heart Association

				h3 Publications
				p Bryant D.M., Roignot J., Datta A., Overeem A.W., Kim M., <strong>Yu W.</strong>, Peng X., Eastburn D.J., Ewald A.J., Werb Z., Mostov K.E. "A Molecular Switch for the Orientation of Epithelial Cell Polarization." <em>Dev Cell.</em> (2014) 	
				p Cerruti B., Puliafito A., Shewan A.M., <strong>Yu W.</strong>, Combes A.N., Little M.H., Chianale F., Primo L., Serini G., Mostov K.E., Celani A., Gamba A. "Polarity, cell division, and out-of-equilibrium dynamics control the growth of epithelial structures." <em>J. Cell Biol.</em> (2013) Oct 28:203(2):359-72.
				p Kim S.H., <strong>Yu W.</strong>, Mostov K.E., Matthay M.A., Hunt C.A. "A computational approach to understand in vitro alveolar morphogenesis." <em>PLoS One</em> (2009):4(3):e4819.
				p  <strong>Yu W.</strong>, Shewan A.M., Brakeman P., Eastburn D.J., Datta A., Bryant D.M., Fan Q.W., Weiss W.A., Zegers M.M., Mostov K.E. "Involvement of RhoA, ROCK I and myosin II in inverted orientation of epithelial polarity." <em>EMBO Reports</em> (2008) Sep. 9(9):923-9.
				p Martín-Belmonte F., <strong>Yu W.</strong>, Rodríguez-Fraticelli A.E., Ewald A., Werb Z., Alonso M.A., Mostov K. "Cell-polarity dynamics controls the mechanism of lumen formation in epithelial morphogenesis." <em>Curr Biol.</em> (2008) Apr. 8;18(7):507-13.
				p Liu K.D., Datta A.,  <strong>Yu W.</strong>, Brakeman P.R., Jou T.S., Matthay M.A., Mostov K.E. "Rac1 is required for reorientation of polarity and lumen formation through a PI3-kinase-dependent pathway." <em>Am J Physiol Renal Physiol.</em> (2007) 293(5):F1633-40.
				p Kim M., Datta A., Brakeman P., <strong>Yu W.</strong> and Mostov K. (2007) Polarity proteins PAR6 and aPKC regulate cell death through GSK-3beta in 3D epithelial morphogenesis. <em>J Cell Sci.</em>  15;1202309-17.
				p <strong>Yu W.</strong>, Fang X., Ewald A., Wong K., Hunt A.C., Werb Z., Matthay M.A., and Mostov K. (2007) Formation of cysts by alveolar type II cells in three-dimensional culture reveals a novel mechanism for epithelial morphogenesis. <em>Molecular Biology of the Cell.</em> 18:1963-1700.
				p Martin-Belmonte F., Gassama A., Datta A., <strong>Yu W.</strong>, Rescher U., Gerke V., and Mostov K. (2007) PTEN-mediated segregation of membrane phosphoinositides at the apical membrane controls epithelial morphogenesis through Cdc42. <em>Cell</em>, 128:383-397.
				p Fan Q.W., Knight Z.A., Goldenberg D.D., <strong>Yu W.</strong>, Mostov K.E., Stokoe D., Shokat K.M., Weiss W.A..  (2006) A dual PI3 kinase/mTOR inhibitor reveals emergent efficacy in glioma. <em>Cancer Cell</em>, 9(5):341-9.
				p Gassama A., <strong>Yu W.</strong>, ter Beest M., Martin-Belmonte F., Kierbel A., Engel J., Mostov K. (2006) Phosphatidylinositol 3,4,5-trisphosphate regulates the formation of the basolateral plasma membrane in epithelial cells. <em>Nature Cell Biology</em>, 8(9):963-70.
				p O'Brien L.E., <strong>Yu W.</strong>, Tang K., Jou T.S., Zegers M.M., Mostov K.E. (2006) Morphological and biochemical analysis of Rac1 in three-dimensional epithelial cell cultures. <em>Methods Enzymol.</em> 406:676-691.
				p Mostov K., Brakeman P., Datta A., Gassama A., Katz L., Kim M., Leroy P., Levin M., Liu K., Martin F., O'Brien L.E., Verges M., Su T., Tang K., Tanimizu N., Yamaji T., <strong>Yu W.</strong> (2005), Formation of multicellular epithelial structures. <em>Novartis Found Symp.</em> 269:193-200.
				p <strong>Yu W.</strong>, Datta A, Leroy P, O’Brien L, Jou T, Mak G, Matlin KS, Mostov K and Zegers M. (2005), ß1-integrin orients epithelial polarity via Rac1 and laminin. <em>Molecular Biology of the Cell.</em> 16:433-445.
				p Zegers MM, O’Brien L, <strong>Yu W.</strong> and Mostov K, (2003), Analysis of tubulogenesis in vitro. <em>Trends Cell Biology</em> 13:169-176.
				p <strong>Yu W.</strong>, O’Brien L, Wang F, Bourne H, Mostov K, and Zegers M, (2003),  Hepatocyte Growth Factor Switches Orientation of Polarity and Mode of Movement During Morphogenesis of Multicellular Epithelial Structures. <em>Molecular Biology of the Cell</em>  14:748-763.
				p Niki I, Niwa T, <strong>Yu W.</strong>, Budzko D, Miki T, Senda T (2003), Ca2+ influx does not trigger glucose-induced traffic of the insulin granules and alteration of their distribution. <em>Exp Biol Med</em>  228(10):1218-26.
				p <strong>Yu W.</strong>, Niwa T, Miura Y, Horio F, Teradaira S, Ribar T, Means A, Hasegawa Y, Senda T, and Niki I et al, (2002), Calmodulin overexpression causes Ca2+-dependent apoptosis of pancreatic beta cells which can be prevented by inhibition of nitric oxide synthase<em> Lab investigation</em>  82:1229-1240.
				p Fan QW, <strong>Yu W.</strong>, Senda T. Yanagisawa K and Michikawa, M, (2002), Cholesterol-dependent modulation of dendrite outgrowth and microtubule stability in cultured neurons. <em>J. Neurochem</em>   80:178-190.
				p Fan QW, <strong>Yu W.</strong>, Senda T, Yanagisawa K and M Michikawa., (2001), Cholesterol-dependent modulation of tau phosphorylation in cultured neurons. <em>J Neurochem</em>  Jan;76(2):391-400.
				p Niwa T, Fukusawa T, <strong>Yu W.</strong>, Nimura Y, Senda T, Ohgawara H and Niki I. (2001), Characterization of secretory and morphologic properties of primary cultured endocrine cells from porcine pancreata. <em>Pancreas. </em> 22(2):135-140.
				p <strong>Yu W.</strong>, Niwa T, Fukasawa T, Hidaka T, Senda T, Sasaki Y and Niki I., (2000), Synergism of protein kinases A, C and myosin light chain kinase in the secretory cascade of the pancreatic beta-cells. <em>Diabetes.</em>  49:945-952.
				p Senda T and <strong>Yu W.</strong>. (1999), Kinesin cross-bridge between neurosecretory granules and microtubules in the mouse neurohypophysis. <em>Neuroscience Letters.</em> 262:69-71.
				p Senda T, <strong>Yu W.</strong>, Okabe T, Sugimoto N and Matsuda M. (1998), Widespread association of Annexin 2 with intracellular membrane system and involvement of Annexin 2 in granule-granule fusion in addition to granule-plasm membrane fusion in anterior pituitary cells. <em>Histochemical J. </em> 30:331-338.
				p <strong>Yu W.</strong>, Nakamura A, Nakahari T, Imai Y and Senda T. (1998), Classification of the frog lingual gland and their exocytotic features. <em>J of Electron Microscopy.</em>  47(1):73-80.






















																					

				
		include ../components/footer.jade
