html
    head
        title
        include ../components/people_head.jade
    body
        include ../components/header.jade
        #title.container
            h1.row.s12
                span.part2 Yini | 
                span.part1 Xiao 
        #basics.container
            .row
                .col.s8
                    |   <p>yini.xiao <img src="images/at.gif" class="at"> ucsf.edu</p>
                    |   <p><em>Postdoctoral Scholar</em></p>
                .col.s4
                    img.responsive-img.z-depth-1(src="images/yinixiao.jpg")
            #education
                h3 Education
                p 2024-Present
                .degrees Postdoctoral Scholar (Advisor: Dr. Wendell Lim)
                .degrees University of California, San Francisco

                p 2021-2023
                .degrees Postdoctoral Scholar (Advisor: Dr. Matthias Hebrok)
                .degrees University of California, San Francisco

                p 2013-2020
                .degrees Ph.D., Cell Biology (Advisor: Dr. Xin Cheng)
                .degrees Shanghai Institute of Biochemistry and Cell Biology, University of Chinese Academy of Sciences, Shanghai

                p 2009-2013
                .degrees B.S.
                .degrees Huazhong University of Science and Technology, Wuhan

                h3 Research Interests
                p Synthetic biology tools to model organogenesis and cure disease.

                h3 Awards
                p 2016 Excellent student of University of Chinese Academy of Sciences
                p 2011 Outstanding student leader of Huazhong University of Science and Technology

                h3 Publications
                p de Klerk, E., <strong>Xiao, Y.</strong>, Emfinger, C.H., Keller, M.P., Berrios, D.I., Loconte, V., Ekman, A.A., White, K.L., Cardone, R.L., Kibbey, R.G., Attie, A.D., Hebrok, M. "Loss of ZNF148 enhances insulin secretion in human pancreatic β cells." JCI insight, 8(11) (2023)
                p Ma, Q.*, <strong>Xiao, Y.*</strong>, Xu, W.*, Wang, M., Li, S., Yang, Z., Xu, M., Zhang, T., Zhang, Z.N., Hu, R., Su, Q., Yuan, F., Xiao, T., Wang, X., He, Q., Zhao, J., Chen, Z.J., Sheng, Z., Chai, M., Wang, H., Shi, W., Deng, Q., Cheng, X., Li, W. "ZnT8 loss-of-function accelerates functional maturation of hESC-derived β cells and resists metabolic stress in diabetes." Nature Communications, 13.1 (2022): 1-16.
                p Feng, S., Wu, J., Qiu, W.L., Yang, L., Deng, X., Zhou, Y., Chen, Y., Li, X., Yu, L., Li, H., Xu, Z.R., <strong>Xiao, Y.</strong>, Ren, X., Zhang, L., Wang, C., Sun, Z., Wang, J., Ding, X., Chen, Y., Gaudi, P., Pan, G., Ogawa, M., Ogawa, S., Na, J., Zhang, P., Hui, L., Yin, H., Chen, L., Xu, C.R., Cheng, X. "Large-scale generation of functional and transplantable hepatocytes and cholangiocytes from human endoderm stem cells." Cell Reports 33.10 (2020)
                p Li, L.C., Qiu, W.L., Zhang, Y.W., Xu, Z.R., <strong>Xiao, Y.N.</strong>, Hou, C., Lamaoqiezhong, Yu, P., Cheng, X., Xu, C.R. "Single‐cell transcriptomic analyses reveal distinct dorsal/ventral pancreatic programs." EMBO reports 19.10 (2018): e46148.
                p Wang, J., Cui, C., Nan, H., Yu, Y., <strong>Xiao, Y.</strong>, Poon, E., Yang, G., Wang, X., Wang, C., Li, L., Boheler, K.R. "Graphene sheet-induced global maturation of cardiomyocytes derived from human induced pluripotent stem cells." ACS applied materials & interfaces 9.31 (2017): 25929-25940.

        include ../components/footer.jade
