html
    head
        title
        include ../components/people_head.jade
    body
        include ../components/header.jade
        #title.container
            h1.row.s12
                span.part2 Yurie | 
                span.part1 Tonai
        #basics.container
            .row
                .col.s8
                    |   <p>yurie.tonai <img src="images/at.gif" class="at"> ucsf.edu</p>
                    |   <p><em>Staff Research Associate I</em></p>
                .col.s4
                    img.responsive-img.z-depth-1(src="images/yurietonai.jpg")

            #education
                h3 Education

                p 2010-2015
                .degrees B.S. Biology: Concentration in Zoology
                .degrees San Francsico State University           
                
                p research

                h3 Publications
                p Hernandez-Lopez RA, Yu W, Cabral KA, Creasey OA, Lopez Pazmino MDP, Tonai Y, De Guzman A, Makela A, Saksela K, Gartner ZJ, Lim WA.T cell circuits that sense antigen density with an ultrasensitive threshold. Science. 2021 Mar 12;371(6534):1166-1171    

        include ../components/footer.jade
