@-webkit-keyframes construction {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.05; }
  100% {
    opacity: 1; } }
@keyframes construction {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.05; }
  100% {
    opacity: 1; } }
body {
  position: relative; }

#landing {
  background: #F16521;
  color: white;
  padding-bottom: 20px; }
  #landing .container {
    max-width: 980px; }
  #landing h2 {
    font-family: 'ostrich_sansblack', sans-serif;
    margin: 0;
    padding: 30px 0 0 0; }
  #landing h3 {
    margin: 0;
    font-size: 2.3em;
    padding: 0; }
  #landing svg #construction, #landing svg #Synthetic_Biology, #landing svg #Immunology, #landing svg #Therapeutic_Cells, #landing svg #Cancer, #landing svg #Protein_Engineering {
    /*fill: #702968;*/
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 6s;
    -webkit-animation-name: construction;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-delay: 0;
    -moz-animation-duration: 6s;
    -moz-animation-name: construction;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -o-animation-delay: 0;
    -o-animation-duration: 6s;
    -o-animation-name: construction;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    animation-delay: 0;
    animation-duration: 6s;
    animation-name: construction;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
  #landing svg #deconstruction, #landing svg #Biochemistry, #landing svg #Systems_Biology, #landing svg #Structural_Biology, #landing svg #Evolution, #landing svg #Cell_Signaling {
    -webkit-animation-delay: 3s;
    -webkit-animation-duration: 6s;
    -webkit-animation-name: construction;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-delay: 3s;
    -moz-animation-duration: 6s;
    -moz-animation-name: construction;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -o-animation-delay: 3s;
    -o-animation-duration: 6s;
    -o-animation-name: construction;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-duration: 6s;
    animation-name: construction;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
  #landing svg #Design_Principles, #landing svg #Dynamics, #landing svg #Self-organization {
    -webkit-animation-delay: 1.5s;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: construction;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-delay: 1.5s;
    -moz-animation-duration: 3s;
    -moz-animation-name: construction;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -o-animation-delay: 1.5s;
    -o-animation-duration: 3s;
    -o-animation-name: construction;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    animation-delay: 1.5s;
    animation-duration: 3s;
    animation-name: construction;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }

.fix-to-top .table-of-contents {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000; }
.fix-to-top .table-place-holder {
  display: block; }

.table-place-holder {
  background: #cd561c;
  width: 100%;
  height: 46px;
  display: none; }

.table-of-contents {
  background: white; }
  .table-of-contents h5 {
    font-family: 'ostrich_sansmedium', sans-serif;
    font-size: 2em;
    line-height: 1em;
    margin: 0;
    color: #00BBF2;
    padding: 10px 0 6px 0; }
  .table-of-contents ul {
    margin: 0; }
    .table-of-contents ul li a {
      padding: 10px 0;
      display: block;
      color: #00BBF2; }
    .table-of-contents ul li a:hover {
      border-bottom: 1px #00BBF2 solid; }
    .table-of-contents ul li a.active {
      border-bottom: 3px #00BBF2 solid; }

#main #research {
  box-shadow: none;
  border: none;
  margin: 0; }
  #main #research .active .collapsible-header {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16); }
  #main #research .collapsible-header {
    padding: 15px;
    height: auto;
    border-bottom: none;
    z-index: 10;
    position: relative; }
    #main #research .collapsible-header img {
      height: 75px;
      width: 75px;
      float: right;
      padding-right: 5px;
      clear: both; }
    #main #research .collapsible-header .note {
      line-height: 1em;
      font-size: 1em; }
    #main #research .collapsible-header h5 {
      font-family: 'ostrich_sansblack', sans-serif;
      font-size: 1.3em;
      line-height: 1em;
      margin: 0; }
  #main #research .collapsible-body {
    padding-bottom: 15px;
    border-bottom: none;
    font-size: .9em;
    line-height: 1.2em;
    z-index: 1;
    background: #f8f8f8;
    position: relative; }
    #main #research .collapsible-body p {
      padding-top: 15px;
      padding-bottom: 0; }
    #main #research .collapsible-body ul li {
      list-style: disc; }
#main #news {
  font-size: 0.8em;
  line-height: 1.2em; }
  #main #news li {
    padding-bottom: 1em; }

.material-tooltip {
  height: auto;
  width: 150px; }

#tools h4 {
  color: white;
  padding: 20px 0 0 0; }
#tools ul {
  margin: 0; }
#tools li {
  margin-top: 20px; }

#other {
  background: #B0D17C;
  padding-bottom: 20px; }
  #other #education .science-outreach {
    padding: 10px; }
    #other #education .science-outreach a {
      padding: 10px;
      display: block;
      color: black;
      background: #C1E28D; }
    #other #education .science-outreach img {
      width: 30%;
      float: right; }
    #other #education .science-outreach h5 {
      font-family: 'ostrich_sansblack', sans-serif;
      font-size: 1.5em;
      line-height: 1em;
      margin: 0;
      margin-top: 10px; }

body h4 {
  font-family: 'ostrich_sansblack', sans-serif;
  color: #F16521;
  margin: 0;
  padding: 20px 0; }

#kilobots h1 {
  font-family: 'ostrich_sansblack', sans-serif;
  font-size: 6em; }
  #kilobots h1 small {
    font-size: 0.3em;
    line-height: 1em;
    margin-top: 1em;
    display: block; }
#kilobots #head img {
  display: block;
  max-width: 250px;
  margin: 3em auto 0 auto; }
#kilobots .comparison img {
  width: 100%; }

#design .head {
  margin-top: 1em; }
  #design .head h1 {
    font-family: 'ostrich_sansblack', sans-serif;
    font-size: 4em; }
#design strong {
  font-family: 'ostrich_sansblack', sans-serif; }

/*# sourceMappingURL=research.css.map */
