footer.page-footer.blue-grey
	.container
		.row
			h5.white-text Community
			.col.l6.s12
				li 
					a.grey-text.text-lighten-3(href="http://cmp.ucsf.edu") Department of Cellular &amp; Molecular Pharmacology
				li
					a.grey-text.text-lighten-3(href="http://celldesigninstitute.org/") UCSF Cell Design Institute
			.col.l6.s12
	.footer-copyright.white-text
		.container &copy; 2023 UCSF Lim Lab
			a.grey-text.text-lighten-4.right(href="http://limlab.ucsf.edu/links.html") More Links
script(src="js/jquery.min.js")
script(src="js/materialize.min.js")
script(type='text/javascript').
	$(document).ready(function(){
		$(".button-collapse").sideNav();
		$('.collapsible').collapsible();
		$('.tooltipped').tooltip({"delay": 50});
	});
