nav.blue-grey.darken-2
	.nav-wrapper.container
		a.button-collapse(href="#",data-activates="nav-mobile")
			i.mdi-navigation-menu
		a#logo(href = "http://limlab.ucsf.edu/index.html")
			img(src="http://limlab.ucsf.edu/images/logo.png" height = "43px" width="47px")
		ul#nav-mobile.right.side-nav
			li
				a(href="http://limlab.ucsf.edu/index.html") Home
			li
				a(href="http://limlab.ucsf.edu/research.html") Research
			li
				a(href="http://limlab.ucsf.edu/people.html") People
			li
				a(href="http://limlab.ucsf.edu/papers.html") Papers
			li
				a(href="http://limlab.ucsf.edu/downloads.html") Resources
			li
				a(href="http://limlab.ucsf.edu/contact.html") Contact