
<nav class="blue-grey darken-2">
  <div class="nav-wrapper container"><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a><a id="logo" href="http://limlab.ucsf.edu/index.html"><img src="http://limlab.ucsf.edu/images/logo.png" height="43px" width="47px"/></a>
    <ul id="nav-mobile" class="right side-nav">
      <li><a href="http://limlab.ucsf.edu/index.html">Home</a></li>
      <li><a href="http://limlab.ucsf.edu/research.html">Research</a></li>
      <li><a href="http://limlab.ucsf.edu/people.html">People</a></li>
      <li><a href="http://limlab.ucsf.edu/papers.html">Papers</a></li>
      <li><a href="http://limlab.ucsf.edu/downloads.html">Resources</a></li>
      <li><a href="http://limlab.ucsf.edu/contact.html">Contact</a></li>
    </ul>
  </div>
</nav>