
<script src="../js/jquery.min.js"></script>
<script src="../js/materialize.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
  	$(".button-collapse").sideNav();
  	$('.collapsible').collapsible();
  	$('.tooltipped').tooltip({"delay": 50});
  	$('.modal-trigger').leanModal();
  });
  
</script>
<footer class="page-footer blue-grey">
  <div class="container">
    <div class="row">
      <h5 class="white-text">Community</h5>
      <div class="col l6 s12">
        <li> <a href="http://cmp.ucsf.edu" class="grey-text text-lighten-3">Department of Cellular &amp; Molecular Pharmacology</a></li>
        <li><a href="http://systemsbiology.ucsf.edu/" class="grey-text text-lighten-3">UCSF Center for Systems &amp; Synthetic Biology</a></li>
      </div>
      <div class="col l6 s12">
        <li><a href="http://www.synberc.org/" class="grey-text text-lighten-3">SynBERC</a></li>
        <li><a href="http://www.systemscenters.org/" class="grey-text text-lighten-3">National Centers for Systems Biology</a></li>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">&copy; 2022 UCSF Lim Lab<a href="http://limlab.ucsf.edu/links.html" class="grey-text text-lighten-4 right">More Links</a></div>
  </div>
</footer>