html
	head
		title 
		include ./components/head.jade
	body
		include ./components/header.jade
		#title.container
			h1.s12
				span.part1 Lim Lab 
				span.part2 | Contact

		#contact.container
			.row
				.col.s12.m12

					p <b><a href="join.html">We are hiring. See current opportunities at all career stages here.</a></b>
				.col.s12.m6
					h5 Mailing Address
					address.vcard
						.adr 
							.street-address UCSF MC 2240
							.street-address Genentech Hall Room N414
							.street-address 600 16th Street
							.locality San Francisco, CA 94158-2517
				.col.s12.m6
					h5 Contact
					table 
						tr
							td Wendell Lim Office
							td 415-502-8080
						tr 
							td Lab Telephone
							td 415-502-8133
						tr
							td Lab Administrator: Noleine Blizzard
							td <a href="mailto:noleine.blizzard@ucsf.edu">noleine.blizzard@ucsf.edu</a>
							//- td lim-mta@ucsf.edu
		

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
			
		include ./components/footer.jade
				
