html
  head
    title Downloads | Lim Lab
    include ./components/head.jade
  body
    include ./components/header.jade
    #title.container
      h1.s12
        span.part1 Lim Lab
        span.part2  | Downloads

    #downloads.container
      h4 Software
      .download
        p.title
          a(href='downloads/jet_2011c.html') Light-based feedback for controlling intracellular signaling dynamics
        p.authors Jared E. Toettcher, Delquin Gong, Wendell A. Lim, Orion D. Weiner
        p.journal
          em Nature Methods  8, 837-839 (2011)
        table.striped.card-panel(width='487', border='1', align='center', cellpadding='1', cellspacing='0')
          tr
            td
              p Matlab toolbox for microscope control (via Micro-Manager) and the feedback controller
            td
              p
                a(href='papers/pdfs/jet_2011c_software.zip') software.zip
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    

    include ./components/footer.jade