html
	head
		include ./components/head.jade
		<title>Research | Lim Lab</title>
		<link type="text/css" rel="stylesheet" href="css/join.css"  media="screen,projection"/>
	body#kilobots
		include ./components/header.jade
		.container 
			#head.row
				//- .col.s12.m7.l4
				h1 Join Us! <br/>
					small We are hiring at all career stages.
				//- .col.s12.m5.l8
				//- 	img(src="images/research/kilobots2.png").responsive-img.center
				b We are looking for talented and motivated individuals to join our team and lead the next generation of synthetic biology and cell engineering. We are looking for predoctoral staff, graduate students, postdoctoral fellows, and PhD scientists.
			.row
				img(src="images/labphoto_2022.jpeg").responsive-img

			#principal.row
				//- .col.s12

				h3.header Research Technicians (Predoctoral)

				p Research technicians are an essential part of our team. Past members have gone on to PhD, MD, and industry positions including at UCSF, Harvard, Lyell, Sonoma Bio, Genentech, ArsenalBio, and more.

				b Apply here: <a href="https://aprecruit.ucsf.edu/JPF04850">https://aprecruit.ucsf.edu/JPF04850</a>


				h3.header Scientist/Senior Scientist

				p We are seeking applications for a Scientist/Senior Scientist to lead early-stage pre-clinical development of novel T cell therapeutic circuits for the treatment of glioblastoma multiforme (GBM) and Pancreatic Ductal Adenocarcinoma (PDAC). This work will range from proof-of-concept studies to IND enabling studies for a phase I clinical trial.

				b Apply here: <a href="https://aprecruit.ucsf.edu/JPF04503">https://aprecruit.ucsf.edu/JPF04503</a>

				h3.header Postdoctoral and Clinical Fellows

				p Inquiries about postdoctoral position should be emailed to Wendell Lim (<a href="mailto:wendell.lim@ucsf.edu">wendell.lim@ucsf.edu</a>) and CC lab administrator Noleine Blizzard (<a href="mailto:noleine.blizzard@ucsf.edu">noleine.blizzard@ucsf.edu</a>). Please include three letters of reference and include applicant's name in the subject line.

				h3.header PhD Students

				p Motivated graduate students should apply to one of the UCSF graduate programs, such as:
					ul 
						li • &nbsp; <a href="https://tetrad.ucsf.edu/apply">UCSF TETRAD</a>
						li • &nbsp; <a href="https://biophysics.ucsf.edu/admissions">UCSF Biophysics</a>
						li • &nbsp; <a href="https://bmi.ucsf.edu/">UCSF Bioinformatics</a>
						li • &nbsp; <a href="https://graduate.ucsf.edu/academics/phd-degree/bioe">UCSF/Berkeley Bioengineering Program</a>
						li • &nbsp; <a href="https://pspg.ucsf.edu/admissions">UCSF Pharmaceutical Sciences and Pharmacogenomics</a>
						li • &nbsp; <a href="https://ccb.ucsf.edu/">UCSF Chemistry and Chemical Biology.</a>

				h3.header MS Students
				
				p We welcome Master's students through the <a href="https://seo.sfsu.edu/UCSF-CDI">joint CDI-UCSF Master's program through San Francisco State University.</a>


		include ./components/footer.jade
