html
  head
    title 
    include ./components/head.jade
    <link type="text/css" rel="stylesheet" href="css/people.css"  media="screen,projection"/>
  body
    include ./components/header.jade
    #title.container
      h1.s12
        span.part1 Lim Lab 
        span.part2 | Links
    #links.container
      h3 UCSF
      ul
        li
          a(href='http://www.ucsf.edu/', target='_blank') UCSF Home
        li
          a(href='http://cmp.ucsf.edu/', target='_blank') Department of Cellular and Molecular Pharmacology
        li
          a(href='http://biochemistry.ucsf.edu/', target='_blank') Department of Biochemistry and Biophysics
        li
          a(href='http://www.msg.ucsf.edu/', target='_blank') Macromolecular Structure Group
        li
          a(href='http://www.qb3.org/', target='_blank') California Institute for Quantitative Biomedical Research (QB3) 
        hr
        li
          a(href='http://graduate.ucsf.edu/', target='_blank') Graduate Division
        li
          a(href='https://pibs.ucsf.edu/', target='_blank') Program in Biological Sciences
        li
          a(href='https://biophysics.ucsf.edu/', target='_blank') Graduate Group in Biophysics
        li
          a(href='http://ipqb.ucsf.edu/', target='_blank') Integrative Program in Quantitative Biology
        li
          a(href='http://ccb.ucsf.edu/', target='_blank') Chemistry and Chemical Biology Graduate Program
        li
          a(href='http://tetrad.ucsf.edu/', target='_blank') Tetrad Graduate Program (Biochemistry and Molecular Biology, Cell Biology, Genetics, Developmental Biology)
        li
          a(href='https://grad.berkeley.edu/program/bioengineering-joint-ucsf/', target='_blank') UC Berkeley &amp; UCSF Graduate Program in Bioengineering
        hr
        li
          a(href='https://calendar.ucsf.edu/event/biochem_tuesday_seminar', target='_blank') Biochemistry Seminars
        li
          a(href='https://ccb.ucsf.edu/seminars-events', target='_blank') Biophysics/Chemistry and Chemical Biology Seminars
        hr
        li
          a(href='https://directory.ucsf.edu/', target='_blank') UCSF Directory
        li
          a(href='https://www.ucsf.edu/search', target='_blank') Search UCSF
      h3 Research Tools
      ul
        li
          a(href='http://www.signaling-gateway.org/', target='_blank') AfCS-Nature Signaling Gateway
        li
          a(href='http://www.atcc.org/', target='_blank') American Type Culture Collection (ATCC)
        li
          a(href='http://www.ebi.ac.uk/clustalw/index.html', target='_blank') ClustalW
        li
          a(href='http://www.currentprotocols.com/', target='_blank') Current Protocols Online
        li
          a(href='http://molmovdb.mbb.yale.edu/MolMovDB/', target='_blank') Database of Macromolecular Movements
        li
          a(href='http://www.brenda-enzymes.org ', target='_blank') Enzyme Database - BRENDA
        li
          a(href='http://www.expasy.ch/tools/protparam.html', target='_blank') ExPASy - ProtParam tool
        li
          a(href='http://mizuguchilab.org/homstrad/', target='_blank') HOMSTRAD - Structure Alignment Database
        li
          a(href='http://www.informatics.jax.org/', target='_blank') Mouse Genome Informatics
        li
          a(href='http://www.ncbi.nlm.nih.gov/genome/guide/human/', target='_blank') NCBI Human Genome Resources
        li
          a(href='http://www.med.jhu.edu/medcenter/primer/primer.cgi', target='_blank') The Primer Generator
        li
          a(href='http://www0.nih.go.jp/mirror/Kinases/', target='_blank') The Protein Kinase Resource
        li
          a(href='http://www.pdb.org', target='_blank') The RCSB Protein Data Bank
        li
          a(href='http://smart.embl-heidelberg.de/', target='_blank') SMART - Simple Modular Architecture Research Tool
      h3 Literature
      ul
        li
          a(href='http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?holding=ucsflib&tool=cdl&otool=cdlotool', target='_blank') UCSF PubMed
        li
          a(href='http://www.library.ucsf.edu/journals/', target='_blank') UCSF Electronic Journals
        li
          a(href='http://f1000.com/', target='_blank') Faculty of 1000
        li
          a(href='http://pubcrawler.gen.tcd.ie/', target='_blank') PubCrawler
        hr
        li
          a(href='http://www.sciencedirect.com/science/journal/00032697', target='_blank') Analytical Biochemistry
        li
          a(href='http://pubs.acs.org/journals/bichaw/index.html', target='_blank') Biochemistry
        li
          a(href='http://www.cell.com/', target='_blank') Cell
        li
          a(href='https://www.cell.com/cell-chemical-biology/home', target='_blank') Cell Chemical Biology
        li
          a(href='http://www.cell.com/current-biology/', target='_blank') Current Biology
        li
          a(href='http://www.sciencedirect.com/science/journal/09581669', target='_blank') Current Opinion in Biotechnology
        li
          a(href='http://www.sciencedirect.com/science/journal/09550674', target='_blank') Current Opinion in Cell Biology
        li
          a(href='http://www.sciencedirect.com/science/journal/13675931', target='_blank') Current Opinion in Chemical Biology
        li
          a(href='http://www.sciencedirect.com/science/journal/0959440X', target='_blank') Current Opinion in Structural Biology
        li
          a(href='http://www.currentprotocols.com/', target='_blank') Current Protocols Online
        li
          a(href='http://www.jbc.org/', target='_blank') Journal of Biological Chemistry
        li
          a(href='http://www.jcb.org/', target='_blank') Journal of Cell Biology
        li
          a(href='http://www.sciencedirect.com/science/journal/00222836', target='_blank') Journal of Molecular Biology
        li
          a(href='http://pubs.acs.org/journals/jacsat/index.html', target='_blank') Journal of the American Chemical Society
        li
          a(href='http://www.molecule.org/', target='_blank') Molecular Cell
        li
          a(href='http://journals.plos.org/plosbiology/', target='_blank') PLoS Biology
        li
          a(href='http://www.nature.com/nature/', target='_blank') Nature
        li
          a(href='http://www.nature.com/nbt/', target='_blank') Nature Biotechnology
        li
          a(href='http://www.nature.com/ncb/', target='_blank') Nature Cell Biology
        li
          a(href='http://www.nature.com/nsmb/', target='_blank') Nature Structural &amp; Molecular Biology
        li
          a(href='http://www.pnas.org/', target='_blank') Proceedings of the National Academy of Sciences
        li
          a(href='http://peds.oxfordjournals.org/', target='_blank') Protein Engineering
        li
          a(href='http://www.proteinscience.org/', target='_blank') Protein Science
        li
          a(href='http://www.interscience.wiley.com/jpages/0887-3585/', target='_blank') Proteins: Structure, Function, and Bioinformatics
        li
          a(href='http://www.sciencemag.org/', target='_blank') Science
        li
          a(href='http://www.sciencedirect.com/science/journal/01677799', target='_blank') Trends in Biotechnology
    include ./components/footer.jade
