html 
	head
		include ./components/papers_head.jade
		<link type="text/css" rel="stylesheet" href="./css/papers.css" media = "screen,projection"/>

	body
		include ./components/header.jade
		#title.container
			h1.s12
				span.part1 Lim Lab 
				span.part2 | Papers By Interest
		#content.container
			|<p><h2>Areas of interest</h2></p>
			|<p>
			|<ol class="c">
			|<li style="margin-bottom: 5px;"><a href="#scaffold">Mechanisms of Scaffold Proteins: Protein Interactions that Control the Flow of Information in Signaling Pathways</a></li>
			|<li style="margin-bottom: 5px;"><a href="#evolution">Evolution and Evolvability of Cell Signaling Networks</a></li>
			|<li style="margin-bottom: 5px;"><a href="#rewiring">Synthetic Biology:  Learning to Rewire Cell Signaling Pathways</a></li>
			|<li style="margin-bottom: 5px;"><a href="#design">Exploring Design Principles of Regulatory Networks:  Computationally Searching for the Core Algorithms of Cellular Decision-Making </a></li>
			|<li style="margin-bottom: 3px;"><a href="#tools">Novel Tools for Systematically Rewiring & Perturbing Cellular Networks</a></li>
			|<li style="margin-bottom: 3px;"><a href="#CRISPR">CRISPRi</a></li>
			|<li style="margin-bottom: 5px;"><a href="#opto">Cellular Optogenetics</a></li></ul>    
			|<li><a href="#therapeutics">Synthetic Biology:  Engineering Therapeutic Cells</a></li>
			|</ol>
			|</p>
			|<hr>
			|    <!----sections---->
			|<p class="abstract"><h3><a style = "color: black; font-size: 0.8em" name="scaffold">Mechanisms of Scaffold Proteins: Protein Interactions that Control the Flow of Information in Signaling Pathways</a></h3>
			|    <p><span class="title">Scaffold proteins: hubs for controlling the flow of cellular information</span>
			|    <span class="authors">Matthew C. Good, Jesse G. Zalatan, Wendell A. Lim</span>
			|    <span class="journal"><em>Science</em> 332, 680-6 (2011)</span>
			|    <a href="papers/mcg_2011.html">Abstract</a>. <a href="papers/pdfs/mcg_2011.pdf" target="_blank">PDF</a>. <a href="http://www.sciencemag.org/site/multimedia/video/332_6030_680/" target="_blank">Supplemental Video</a>.
			|    </p>
			|    <p><span class="title">Conformational Control of the Ste5 Scaffold Protein Insulates Against MAP Kinase Misactivation.</span>
			|    <span class="authors">Jesse G. Zalatan*, Scott M. Coyle*, Saravanan Rajan, Sachdev S. Sidhu, Wendell A. Lim</span>
			|    <span class="journal"><em>Science</em> 337 (6099): 1218-1222 (2012)</span>
			|    <a href="papers/jgz_2012.html">Abstract</a>. <a href="papers/pdfs/jgz_2012.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/jgz_2012_supp.pdf" target="_blank">Supplemental Data</a>.
			|    </p>
			|  <p><span class="title">The Ste5 Scaffold Directs Mating Signaling by Catalytically Unlocking the Fus3 MAP Kinase for Activation</span>
			|    <span class="authors">Matthew C. Good, Grace Tang, Julie Singleton, Attila Rem&eacute;nyi, and Wendell A. Lim</span>
			|    <span class="journal"><em>Cell</em> 136, 1085-97 (2009)</span>
			|    <a href="papers/mcg_2009.html">Abstract</a>. <a href="papers/pdfs/mcg_2009.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/mcg_2009_sup.pdf" target="_blank">Supplemental Data</a>.
			|    <span class="comment">Commentary in <em>Cell</em> by Markus A. Seeliger and John Kuriyan (<a href="papers/pdfs/mcg_2009_comm.pdf" target="_blank">PDF</a>)</span></p>
			|  <p><span class="title">Rewiring MAP Kinase Pathways Using Alternative Scaffold Assembly Mechanisms</span>
			|    <span class="authors">Sang-Hyun Park, Ali Zarrinpar, and Wendell A. Lim</span>
			|    <span class="journal"><em>Science</em> 299, 1061-1064 (2003)v</span>
			|    <a href="papers/shp_2003.html">Abstract</a>. <a href="papers/pdfs/shp_2003.pdf" target="_blank">PDF</a>.<a href="papers/pdfs/shp_2003_sup.pdf" target="_blank"> Supplemental
			|    Data</a>.
			|    <span class="comment">Commentary in <em>Science</em> by Mark Ptashne and Alexander Gann (<a href="papers/pdfs/shp_2003_comm.pdf" target="_blank">PDF</a>)
			|    Commentary in <em>Molecular Cell</em> by James E. Ferrell, Jr. and
			|    Karlene A. Cimprich (<a href="papers/pdfs/shp_2003_comm2.pdf" target="_blank">PDF</a>)</span>
			|  </p>
			|  <p><span class="title">The role of docking interactions in mediating signaling input, output, and discrimination in the yeast MAPK network</span>
			|    <span class="authors">Attila Rem&eacute;nyi, Matthew C. Good, Roby P. Bhattacharyya, and
			|    Wendell A. Lim</span>
			|    <span class="journal"><em>Molecular Cell</em> 20, 951-962 (2005)</span>
			|    <a href="papers/ar_2005.html">Abstract</a>. <a href="papers/pdfs/ar_2005.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/ar_2005_sup.pdf" target="_blank">Supplemental
			|    Data</a>. 
			|	</p>
			|   <p><span class="title">The Ste5 Scaffold Allosterically Modulates Signaling Output of the Yeast Mating Pathway</span>
			|    <span class="authors">Roby
			|    P. Bhattacharyya*, Attila Rem&eacute;nyi*,
			|    Matthew C. Good, Caleb J. Bashor, Arnold M. Falick, and Wendell A. Lim</span>
			|    <span class="journal"><em>Science</em> 311, 822-826 (2006) </span>
			|    <a href="papers/rpb_2006.html">Abstract</a>. <a href="http://www.sciencemag.org/cgi/rapidpdf/1120941?ijkey=k5AXSx33OfGAg&keytype=ref&siteid=sci" target="_blank">PDF</a>. 
			|    <span class="comment">Commentary
			|    in <em>Science </em>by Ashton Breitkreutz and Mike Tyers (<a href="papers/pdfs/rpb_2006_comm.pdf" target="_blank">PDF</a>)</span>
			|  </p>
			|  <p><span class="title">Using engineered scaffold interactions to reshape MAP kinase pathway signaling dynamics</span>
			|    <span class="authors">Caleb J. Bashor, Noah C. Helman, Shude Yan, and Wendell A. Lim</span>
			|    <span class="journal"><em>Science</em> 319, 1539-43 (2008)</span>
			|    <a href="papers/cjb_2008.html">Abstract</a>. <a href="papers/pdfs/cjb_2008.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/cjb_2008_sup.pdf" target="_blank">Supplemental Data</a>.
			|    <span class="comment">Commentary in <em>Science</em> by Peter M. Pryciak (<a href="papers/pdfs/cjb_2008_comm.pdf" target="_blank">PDF</a>)
			|    Commentary in <em>Nature Biotechnology </em> by Patrick Guye and Ron Weiss (<a href="papers/pdfs/cjb_2008_comm2.pdf" target="_blank">PDF</a>)</span></p>
			|</p>
			|<hr>
			|<p class="abstract"><h3><a style = "color: black; font-size: 0.8em" name="evolution">Evolution and Evolvability of Cell Signaling Networks</a></h3>
			|  <p><span class="title">Exploitation of Latent Allostery Enables the Evolution of New Modes of MAP Kinase Regulation</span>
			|    <span class="authors">Scott M. Coyle, Jonathan Flores, and Wendell A. Lim</span>
			|    <span class="journal"><em>Cell</em> 154, 875-887 (2013)</span>
			|    <a href="papers/smc_2013.html">Abstract</a>. <a href="papers/pdfs/smc_2013.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/smc_2013_supp.pdf" target="_blank">Supplemental Data</a>.
			|    </p>
			|    <p><span class="title">Rapid diversification of cell signaling phenotypes by modular domain recombination</span>
			|    <span class="authors">Sergio G. Peisajovich, Joan E. Garbarino, Ping Wei, Wendell A. Lim</span>
			|    <span class="journal"><em>Science</em> 328, 368-372 (2010)</span>
			|    <a href="papers/sgp_2010.html">Abstract</a>. <a href="papers/pdfs/sgp_2010.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/sgp_2010_supp.pdf" target="_blank">Supplemental Data</a>.
			|    <span class="comment">Commentary in <em>Nature Reviews Genetics</em> by Katharine H. Wrighton (<a href=
			|    "papers/pdfs/sgp_2010_comm1.pdf" target="_blank">PDF</a>)     
			|    Commentary in <em>Nature Reviews Molecular Cell Biology</em> by Katharine H. Wrighton (<a href=
			|    "papers/pdfs/sgp_2010_comm2.pdf" target="_blank">PDF</a>) 
			|    </span></p>
			|    <p><span class="title">Phosphotyrosine signaling: evolving a new cellular communication system</span>
			|    <span class="authors">Wendell A. Lim, Tony Pawson</span>
			|    <span class="journal"><em>Cell</em> 142, 661-667 (2010)</span>
			|    <a href="papers/wal_2010b.html">Abstract</a>. <a href="papers/pdfs/wal_2010b.pdf" target="_blank">PDF</a>.
			|    </p>
			|	<p><span class="title">Recruitment interactions can override catalytic interactions in determining the functional identity of a protein kinase</span>
			|    <span class="authors">Angela P. Won, Joan E. Garbarino, Wendell A. Lim</span>
			|    <span class="journal"><em>Proceedings of the National Academy of Sciences</em> 108, 9809-9814 (2011)</span>
			|    <a href="papers/apw_2011.html">Abstract</a>. <a href="papers/pdfs/apw_2011.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/apw_2011_supp.pdf" target="_blank">Supplemental Data</a>.
			|    </p>
			|	<p><span class="title">Evolution of phosphoregulation: comparison of phosphorylation patterns across yeast species</span>
			|    <span class="authors">Pedro Beltrao, Jonathan C. Trinidad, Dorothea Fiedler, Assen Roguev, Wendell A. Lim, Kevan M. Shokat, Alma L. Burlingame, and Nevan J. Krogan</span>
			|    <span class="journal"><em>PLoS Biology</em> 7, e1000134 (2009).</span>
			|    <a href="papers/pb_2009.html">Abstract</a>. <a href="papers/pdfs/pb_2009.pdf" target="_blank">PDF</a>. <a href="papers/pb_2009_supp.html">Supplemental Data</a>.
			|    </p>
			|  <p><span class="title">The pathogen protein EspF(U) hijacks actin polymerization using mimicry and multivalency</span>
			|    <span class="authors">Nathan A. Sallee, Gonzalo M. Rivera, John E. Dueber, Dan Vasilescu, R. Dyche Mullins, Bruce J. Mayer, and Wendell A. Lim</span>
			|    <span class="journal"><em>Nature</em> 454, 1005-8 (2008)</span>
			|    <a href="papers/nas_2008.html">Abstract</a>. <a href="papers/pdfs/nas_2008.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/nas_2008_sup.pdf" target="_blank">Supplemental Data</a>.</p>
			|  <p><span class="title">Evolution of the phospho-tyrosine signaling machinery in premetazoan lineages</span>
			|    <span class="authors">David Pincus, Ivica Letunic, Peer Bork, and Wendell A. Lim</span>
			|    <span class="journal"><em>Proceedings of the National Academy of Sciences</em> 105, 9680-4 (2008)</span>
			|    <a href="papers/dp_2008.html">Abstract</a>. <a href="papers/pdfs/dp_2008.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/dp_2008_sup.pdf" target="_blank">Supplemental Data</a>.
			|   <span class="comment"> Commentary in <em>Proceedings of the National Academy of Sciences</em> by Bruce Mayer (<a href="papers/pdfs/dp_2008_comm.pdf" target="_blank">PDF</a>)</span></p>
			|  <p><span class="title">Optimization of specificity in a cellular protein interaction
			|    network by negative selection</span>
			|   <span class="authors">Ali Zarrinpar, Sang-Hyun Park, and Wendell
			|    A. Lim</span>
			|    <span class="journal"><em>Nature</em> 426, 676-680 (2003)</span>
			|    <a href="papers/az_2003b.html">Abstract</a>. <a href="papers/pdfs/az_2003b.pdf" target="_blank">PDF</a>. <a href="papers/az_2003b_sup.html">Supplemental
			|    Data</a>.
			|    <span class="comment">Commentary in <em>Nature</em> by
			|    Drew Endy and Michael B. Yaffe (<a href="papers/pdfs/az_2003b_comm.pdf" target="_blank">PDF</a>)</span>
			|  </p>
			|</p>
			|<hr>
			|<p class="abstract"><h3><a style = "color: black; font-size: 0.8em" name="rewiring">Synthetic Biology:  Learning to Rewire Cell Signaling Pathways</a></h3>
			|  <p><span class="title">Rewiring MAP Kinase Pathways Using Alternative Scaffold Assembly Mechanisms</span>
			|    <span class="authors">Sang-Hyun Park, Ali Zarrinpar, and Wendell A.
			|    Lim</span>
			|    <span class="journal"><em>Science</em> 299, 1061-1064 (2003)v</span>
			|    <a href="papers/shp_2003.html">Abstract</a>. <a href="papers/pdfs/shp_2003.pdf" target="_blank">PDF</a>.<a href="papers/pdfs/shp_2003_sup.pdf" target="_blank"> Supplemental
			|    Data</a>.
			|    <span class="comment">Commentary in <em>Science</em> by Mark Ptashne and Alexander Gann (<a href="papers/pdfs/shp_2003_comm.pdf" target="_blank">PDF</a>)
			|    Commentary in <em>Molecular Cell</em> by James E. Ferrell, Jr. and
			|    Karlene A. Cimprich (<a href="papers/pdfs/shp_2003_comm2.pdf" target="_blank">PDF</a>)</span>
			|  </p>
			|  <p><span class="title">Reprogramming Control of an Allosteric Signaling Switch Through
			|    Modular Recombination</span>
			|    <span class="authors">John E. Dueber, Brian J. Yeh, Kayam Chak, and Wendell
			|    A. Lim</span>
			|    <span class="journal"><em>Science</em> 301, 1904-1908 (2003)</span>
			|    <a href="papers/jed_2003.html">Abstract</a>. <a href="papers/pdfs/jed_2003.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/jed_2003_sup.pdf" target="_blank">Supplemental
			|    Data</a>. 
			|  </p>
			|  <p><span class="title">Rewiring cellular morphology pathways with synthetic guanine nucleotide exchange factors</span>
			|    <span class="authors">Brian J. Yeh, Robert J. Rutigliano, Anrica Deb, Dafna Bar-Sagi, and Wendell A. Lim </span>
			|    <span class="journal"><em>Nature</em> 447, 596-600 (2007) </span>
			|    <a href="papers/bjy_2007.html">Abstract</a>. <a href="papers/pdfs/bjy_2007.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/bjy_2007_supp.pdf" target="_blank">Supplemental Data</a>. <a href="papers/pdfs/bjy_2007_supp.mov" target="_blank">Supplemental Video</a>.
			|    <span class="comment">Commentary in <em>Molecular Systems Biology </em> by  Philippe Bastiaens  (<a href="papers/pdfs/bjy_2007_comm.pdf" target="_blank">PDF</a>)
			|    Commentary in <em>Developmental Cell</em> by Christopher S. Chen (<a href="papers/pdfs/bjy_2007_comm2.pdf" target="_blank">PDF</a>)</span> </p>
			|  <p><span class="title">Using engineered scaffold interactions to reshape MAP kinase pathway signaling dynamics</span>
			|    <span class="authors">Caleb J. Bashor, Noah C. Helman, Shude Yan, and Wendell A. Lim</span>
			|    <span class="journal"><em>Science</em> 319, 1539-43 (2008)</span>
			|    <a href="papers/cjb_2008.html">Abstract</a>. <a href="papers/pdfs/cjb_2008.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/cjb_2008_sup.pdf" target="_blank">Supplemental Data</a>.
			|    <span class="comment">Commentary in <em>Science</em> by Peter M. Pryciak (<a href="papers/pdfs/cjb_2008_comm.pdf" target="_blank">PDF</a>)
			|    Commentary in <em>Nature Biotechnology </em> by Patrick Guye and Ron Weiss (<a href="papers/pdfs/cjb_2008_comm2.pdf" target="_blank">PDF</a>)</span></p>
			|	<p><span class="title">Rewiring cells: synthetic biology as a tool to interrogate the organizational principles of living systems</span>
			|    <span class="authors">Caleb J. Bashor, Andrew A. Horwitz, Sergio G. Peisajovich, and Wendell A. Lim</span>
			|    <span class="journal"><em>Annual Review of Biophysics</em> 39, 515-537 (2010)</span>
			|    <a href="papers/cjb_2010.html">Abstract</a>. <a href="papers/pdfs/cjb_2010.pdf" target="_blank">PDF</a>. <span class="comment">(Copyright Annual Reviews)</span>
			|    </p>
			|    <p><span class="title">Designing synthetic regulatory networks capable of self-organizing cell polarization.</span>
			|    <span class="authors">Angela H. Chau*, Jessica M. Walter*, Jaline Gerardin, Chao Tang, Wendell A. Lim</span>
			|    <span class="journal"><em>Cell</em> 151(2):320-32 (2012)</span>
			|    <a href="papers/ahc_2012.html">Abstract</a>. <a href="papers/pdfs/ahc_2012.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/ahc_2012_supp.pdf" target="_blank">Supplemental Data</a>. <a href="papers/pdfs/ahc_2012_m1.mov" target="_blank">Supplemental Movie 1</a>. <a href="papers/pdfs/ahc_2012_m2.mov" target="_blank">Supplemental Movie 2</a>. <a href="papers/pdfs/ahc_2012_code.zip" target="_blank">Simulation Code and Scripts</a>.
			|    </p>
			|</p>
			|<hr>
			|<p class="abstract"><h3><a style = "color: black; font-size: 0.8em" name="design">Exploring Design Principles of Regulatory Networks:  Computationally Searching for the Core Algorithms of Cellular Decision-Making </a></h3>
			|    <p><span class="title">Design principles of regulatory networks: searching for the molecular algorithms of the cell.</span>
			|    <span class="authors">Wendell A. Lim, Connie M. Lee, Chao Tang</span>
			|    <span class="journal"><em>Mol. Cell</em> 49(2):202-12 (2013)</span>
			|    <a href="papers/wal_2013a.html">Abstract</a>. <a href="papers/pdfs/wal_2013a.pdf" target="_blank">PDF</a>.
			|    </p>
			|    <p><span class="title">Designing synthetic regulatory networks capable of self-organizing cell polarization.</span>
			|    <span class="authors">Angela H. Chau*, Jessica M. Walter*, Jaline Gerardin, Chao Tang, Wendell A. Lim</span>
			|    <span class="journal"><em>Cell</em> 151(2):320-32 (2012)</span>
			|    <a href="papers/ahc_2012.html">Abstract</a>. <a href="papers/pdfs/ahc_2012.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/ahc_2012_supp.pdf" target="_blank">Supplemental Data</a>. <a href="papers/pdfs/ahc_2012_m1.mov" target="_blank">Supplemental Movie 1</a>. <a href="papers/pdfs/ahc_2012_m2.mov" target="_blank">Supplemental Movie 2</a>. <a href="papers/pdfs/ahc_2012_code.zip" target="_blank">Simulation Code and Scripts</a>.
			|    </p>
			|	<p><span class="title">Build life to understand it</span>
			|    <span class="authors">Michael Elowitz, Wendell A. Lim</span>
			|    <span class="journal"><em>Nature</em> 468, 889-890 (2010)</span>
			|    <a href="papers/me_2010.html">Abstract</a>. <a href="papers/pdfs/me_2010.pdf" target="_blank">PDF</a>.
			|    </p>
			|  <p><span class="title">Defining network topologies that can achieve biochemical adaptation</span>
			|    <span class="authors">Wenzhe Ma, Ala Trusina, Hana El-Samad, Wendell A. Lim, and Chao Tang</span>
			|    <span class="journal"><em>Cell</em> 138, 760-73 (2009)</span>
			|    <a href="papers/wm_2009.html">Abstract</a>. <a href="papers/pdfs/wm_2009.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/wm_2009_supp.pdf" target="_blank">Supplemental Data</a>. <a href="papers/pdfs/wm_2009_vid.mp4" target="_blank">PaperFlick video summary</a>.
			|    <span class="comment">Commentary in <em>Cell</em> by Alexander B. Artyukhin, Lani F. Wu, and Steven J. Altschuler (<a href=
			|    "papers/pdfs/wm_2009_comm.pdf" target="_blank">PDF</a>)</span></p>
			|</p>
			|<hr>
			|<p class="abstract"><h3><a style = "color: black; font-size: 0.8em" name="tools">Novel Tools for Systematically Rewiring & Perturbing Cellular Networks</a></h3>
			|<h4><a name="CRISPR">CRISPRi</a></h4>
			|    <p><span class="title">CRISPR-Mediated Modular RNA-Guided Regulation of Transcription in Eukaryotes.</span>
			|    <span class="authors">Luke A. Gilbert, Matthew H. Larson, Leonardo Morsut, Zairan Liu, Gloria A. Brar, Sandra E. Torres, Noam Stern-Ginossar, Onn Brandman, Evan H. Whitehead, Jennifer A. Doudna, Wendell A. Lim, Jonathan S. Weissman, Lei S. Qi</span>
			|    <span class="journal"><em>Cell (Resource)</em> 154, 1-10 (2013)</span>
			|    <a href="papers/lag_2013.html">Abstract</a>. <a href="papers/pdfs/lag_2013.pdf" target="_blank">PDF</a>.
			|    </p>
			|    <p><span class="title">Repurposing CRISPR as an RNA-Guided Platform for Sequence-Specific Control of Gene Expression.</span>
			|    <span class="authors">Lei S. Qi, Matthew H. Larson, Luke A. Gilbert, Jennifer A. Doudna, Jonathan S. Weissman, Adam P. Arkin, Wendell A. Lim</span>
			|    <span class="journal"><em>Cell</em> 28;152(5):1173-83 (2013)</span>
			|    <a href="papers/lsq_2013.html">Abstract</a>. <a href="papers/pdfs/lsq_2013.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/lsq_2013_supp.pdf" target="_blank">Supplemental Data</a>. <a href="papers/pdfs/lsq_2013_seq.pdf" target="_blank">Supplemental Sequences</a>. 
			|    </p>
			|<h4><a name="opto">Cellular Optogenetics</a></h4>
			|    <p><span class="title">Spatiotemporal control of cell signalling using a light-switchable protein interaction</span>
			|    <span class="authors">Anselm Levskaya, Orion D. Weiner, Wendell A. Lim, and Christopher A. Voigt</span>
			|    <span class="journal"><em>Nature</em> 461, 997-1001 (2009)</span>
			|    <a href="papers/al_2009.html">Abstract</a>. <a href="papers/pdfs/al_2009.pdf" target="_blank">PDF</a>. <a href="papers/al_2009_supp.html">Supplemental Data</a>.
			|    </p>
			|    <p><span class="title">Light-based feedback for controlling intracellular signaling dynamics</span>
			|    <span class="authors">Jared E. Toettcher, Delquin Gong, Wendell A. Lim, Orion D. Weiner</span>
			|    <span class="journal"><em>Nature Methods</em> 8, 837-839 (2011)</span>
			|    <a href="papers/jet_2011c.html">Abstract</a>. <a href="papers/pdfs/jet_2011c.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/jet_2011c_supp.pdf" target="_blank">Supplemental Data</a>.
			|    </p>
			|    <p><span class="title">The promise of optogenetics in cell biology: interrogating molecular circuits in space and time</span>
			|    <span class="authors">Jared E. Toettcher, Christopher A. Voigt, Orion D. Weiner, Wendell A. Lim</span>
			|    <span class="journal"><em>Nature Methods</em> 1, 35-38 (2011)</span>
			|    <a href="papers/jet_2011.html">Abstract</a>. <a href="papers/pdfs/jet_2011.pdf" target="_blank">PDF</a>.
			|    </p>
			|      <p><span class="title">Using optogenetics to interrogate the dynamic control of signal transmission by the ras/erk module.</span>
			|    <span class="authors">Jared E. Toettcher, Orion D. Weiner, and Wendell A. Lim.</span>
			|    <span class="journal"><em>Cell</em> 155(6):1422-34 (2013)</span>
			|    <a href="papers/jet_2013.html">Abstract</a>. <a href="papers/pdfs/jet_2013.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/jet_2013_supp.pdf" target="_blank">Supplemental Data</a>. <a href="papers/pdfs/jet_2013_m1.mp4" target="_blank">Supplemental Movie 1</a>. <a href="papers/pdfs/jet_2013_m2.mp4" target="_blank">Supplemental Movie 2</a>. <a href="papers/pdfs/jet_2013_RPPA_dataset.xlsx" target="_blank">RPPA data</a>.
			|    </p>
			|</p>
			|<hr>
			|<p class="abstract"><h3><a style = "color: black; font-size: 0.8em" name="therapeutics">Synthetic Biology:  Engineering Therapeutic Cells</a></h3>
			|    <p><span class="title">Cell-based therapeutics: the next pillar of medicine.</span>
			|    <span class="authors">Michael A. Fischbach, Jeffrey A. Bluestone, Wendell A. Lim</span>
			|    <span class="journal"><em>Science Translational Medicine</em> 5(179) (2013)</span>
			|    <a href="papers/maf_2013.html">Abstract</a>. <a href="papers/pdfs/maf_2013.pdf" target="_blank">PDF</a>.
			|    </p>
			|    <p><span class="title">Bacterial virulence proteins as tools to rewire kinase pathways in yeast and immune cells.</span>
			|    <span class="authors">Ping Wei*, Wilson W. Wong*, Jason S. Park, Ethan E. Corcoran, Sergio G. Peisajovich, James J. Onuffer, Arthur Weiss, Wendell A. Lim</span>
			|    <span class="journal"><em>Nature</em> 488, 384-388 (2012)</span>
			|    <a href="papers/pw_2012.html">Abstract</a>. <a href="papers/pdfs/pw_2012.pdf" target="_blank">PDF</a>. <a href="papers/pdfs/pw_2012_supp.pdf" target="_blank">Supplemental Data</a>.
			|    </p>
			|    <p><span class="title">Designing customized cell signalling circuits</span>
			|    <span class="authors">Wendell A. Lim</span>
			|    <span class="journal"><em>Nature Reviews Molecular Cell Biology</em> 11, 393-403 (2010)</span>
			|    <a href="papers/wal_2010.html">Abstract</a>. <a href="papers/pdfs/wal_2010.pdf" target="_blank">PDF</a>.
			|    </p>    
			|</p>
		include ./components/footer.jade