html 
	head
		include ./components/papers_head.jade
		title Papers | Lim Lab
		<link type="text/css" rel="stylesheet" href="./css/papers.css" media = "screen,projection"/>
	body
		include ./components/header.jade
		#title.container
			h1.s12
				span.part1 Lim Lab 
				span.part2 | Papers
		#content.container

			.title Degron-based bioPROTACs for controlling signaling in CAR T cells
			.authors Kim MS, Bhargava HK, Shavey GE, Lim WA, El-Samad H, Ng AH.
			.journal <em>ACS Synthetic Biology</em>. 2024
			a(href="pdfs/2024_kim.pdf") PDF. 

			.title CAR-T Cell-Mediated B-Cell Depletion in Central Nervous System Autoimmunity
			.authors Gupta S, Simic M, Sagan SA, Shepherd C, Duecker J, Sobel RA, Dandekar R, Wu GF, Wu W, Pak JE, Hauser SL, Lim W, Wilson MR, Zamvil SS.
			.journal <em>Neurol Neuroimmunol Neuroinflamm</em>. 2023
			a(href="pdfs/2023_Gupta.pdf") PDF. 

			.title Instructional materials that control cellular activity through synthetic Notch receptors
			.authors Lee JC, Brien HJ, Walton BL, Eidman ZM, Toda S, Lim WA, Brunger JM.
			.journal <em>Biomaterials</em>. 2023
			a(href="pdfs/2023_lee.pdf") PDF. 

			.title Harnessing synthetic biology to engineer organoids and tissues
			.authors Trentesaux C, Yamada T, Klein OD, Lim WA.
			.journal <em>Cell Stem Cell</em>. 2023
			a(href="pdfs/trentesaux_2023.pdf") PDF. 

			.title Synthetic cytokine circuits that drive T cells into immune-excluded tumors
			.authors Allen GM, Frankel NW, Reddy NR, Bhargava HK, Yoshida MA, Stark SR, Purl M, Lee J, Yee JL, Yu W, Li AW, Garcia KC, El-Samad H, Roybal KT, Spitzer MH, Lim WA.
			.journal <em>Science</em>. 2022
			a(href="pdfs/allen_2022.pdf") PDF. 

			.title Programming Multicellular Assembly with Synthetic Cell Adhesion Molecules
			.authors Stevens AJ, Harris AR, Gerdts J, Kim KH, Trentesaux C, Ramirez JT, McKeithan WL, Fattahi F, Klein OD, Fletcher DA, Lim WA.
			.journal <em>Nature</em>. 2022
			a(href="pdfs/stevens_2022.pdf") PDF. 
			a(href="https://www.ucsf.edu/news/2022/12/424411/cellular-glue-regenerate-tissues-heal-wounds-regrow-nerves") UCSF Press Release. 

			.title Decoding CAR T cell phenotype using combinatorial signaling motif libraries and machine learning
			.authors Daniels KG, Wang S, Simic MS, Bhargava HK, Capponi S, Tonai Y, Yu W, Bianco S, Lim WA.
			.journal <em>Science</em>. 2022
			a(href="pdfs/daniels_2022.pdf") PDF. 
			a(href="https://www.ucsf.edu/news/2022/12/424406/how-ai-found-words-kill-cancer-cells") UCSF Press Release. 

			.title The emerging era of cell engineering: Harnessing the modularity of cells to program complex biological function
			.authors Lim WA.
			.journal <em>Science</em>. 2022
			a(href="pdfs/lim_2022.pdf") PDF. 

			.title Rethinking cancer targeting strategies in the era of smart cell therapeutics
			.authors Allen GM, Lim WA.
			.journal <em>Nat Rev Cancer</em>. 2022
			a(href="pdfs/allen_et_al_2022.pdf") PDF. 

			.title SynNotch-CAR T cells overcome challenges of specificity, heterogeneity, and persistence in treating glioblastoma
			.authors Choe JH, Watchmaker PB, Simic MS, Gilbert RD, Li AW, Krasnow NA, Downey KM, Yu W, Carrera DA, Celli A, Cho J, Briones JD, Duecker JM, Goretsky YE, Dannenfelser R, Cardarelli L, Troyanskaya O, Sidhu SS, Roybal KT, Okada H, Lim WA.
			.journal <em>Sci Transl Med</em>. 2021
			a(href="pdfs/choe_watchmaker_simic_2021.pdf") PDF. 
			a(href="https://www.ucsf.edu/news/2021/04/420441/smart-cell-therapies-solid-cancers-ready-move-towards-clinical-trials") PRESS UCSF. 

			.title T cell circuits that sense antigen density with an ultrasensitive threshold
			.authors Hernandez-Lopez RA, Yu W, Cabral KA, Creasey OA, Lopez Pazmino MDP, Tonai Y, De Guzman A, Mäkelä A, Saksela K, Gartner ZJ, Lim WA.
			.journal <em>Science</em>. 2021
			a(href="pdfs/hernandez-lopez_2021.pdf") PDF. 
			a(href="https://www.nature.com/articles/s41422-021-00511-y") FEATURED IN Cell Research. 
			a(href="https://www.nature.com/articles/s41392-021-00706-0") FEATURED IN Signal Transduction and Targeted Therapy 

			.title T cells selectively filter oscillatory signals on the minutes timescale
			.authors O'Donoghue GP, Bugaj LJ, Anderson W, Daniels KG, Rawlings DJ, Lim WA.
			.journal <em>Proc Natl Acad Sci U S A</em>. 2021
			a(href="pdfs/odonoghue_2021.pdf") PDF. 

			.title DNA scaffolds enable efficient and tunable functionalization of biomaterials for immune cell modulation
			.authors Huang X, Williams JZ, Chang R, Li Z, Burnett CE, Hernandez-Lopez R, Setiady I, Gai E, Patterson DM, Yu W, Roybal KT, Lim WA, Desai TA.
			.journal <em>Nat Nanotechnol</em>. 2021
			a(href="pdfs/huang_2020.pdf") PDF. 

			.title Precise T cell recognition programs designed by transcriptionally linking multiple receptors
			.authors Williams JZ, Allen GM, Shah D, Sterin IS, Kim KH, Garcia VP, Shavey GE, Yu W, Puig-Saus C, Tsoi J, Ribas A, Roybal KT, Lim WA.
			.journal <em>Science</em>. 2020
			a(href="pdfs/williams_2020.pdf") PDF. 

			.title Engineering cytokines and cytokine circuits
			.authors Li AW, Lim WA.
			.journal <em>Science</em>. 2020
			a(href="pdfs/li_2020.pdf") PDF. 

			.title Engineering synthetic morphogen systems that can program multicellular patterning
			.authors Toda S, McKeithan WL, Hakkinen TJ, Lopez P, Klein OD, Lim WA.
			.journal <em>Science</em>. 2020
			a(href="pdfs/toda_2020.pdf") PDF. 

			.title Discriminatory Power of Combinatorial Antigen Recognition in Cancer T Cell Therapies
			.authors Dannenfelser R, Allen GM, VanderSluis B, Koegel AK, Levinson S, Stark SR, Yao V, Tadych A, Troyanskaya OG, Lim WA.
			.journal <em>Cell Syst</em>. 2020
			a(href="pdfs/dannenfelser_2020.pdf") PDF. 

			.title Simple Rules Determine Distinct Patterns of Branching Morphogenesis
			.authors Yu W, Marshall WF, Metzger RJ, Brakeman PR, Morsut L, Lim W, Mostov KE.
			.journal <em>Cell Syst</em>. 2019
			a(href="pdfs/yu_2019.pdf") PDF. 

			.title The Design Principles of Biochemical Timers: Circuits that Discriminate between Transient and Sustained Stimulation
			.authors Gerardin J, Reddy NR, Lim WA.
			.journal <em>Cell Syst</em>. 2019
			a(href="pdfs/gerardin_2019.pdf") PDF. 

			.title High-throughput multicolor optogenetics in microwell plates
			.authors Bugaj LJ, Lim WA.
			.journal <em>Nat Protoc</em>. 2019
			a(href="pdfs/bugaj_2019.pdf") PDF. 

			.title Engineering cell-cell communication networks: programming multicellular behaviors
			.authors Toda S, Frankel NW, Lim WA.
			.journal <em>Curr Opin Chem Biol</em>. 2019
			a(href="pdfs/toda_2019.pdf") PDF. 

			.title Programming self-organizing multicellular structures with synthetic cell-cell signaling
			.authors Toda S, Blauch LR, Tang SKY, Morsut L, Lim WA.
			.journal <em>Science</em>. 2018
			a(href="pdfs/toda_2018.pdf") PDF. 

			.title Building a Stable Relationship: Ensuring Homeostasis among Cell Types within a Tissue
			.authors Frankel NW, Lim WA.
			.journal <em>Cell</em>. 2018
			a(href="pdfs/frankel_rev_2018.pdf") PDF. 

			.title Design of Tunable Oscillatory Dynamics in a Synthetic NF-κB Signaling Circuit
			.authors Zhang ZB, Wang QY, Ke YX, Liu SY, Ju JQ, Lim WA, Tang C, Wei P.
			.journal <em>Cell Syst</em>. 2017
			a(href="pdfs/zbz_2017.pdf") PDF. 

			.title Tracing Information Flow from Erk to Target Gene Induction Reveals Mechanisms of Dynamic and Combinatorial Control
			.authors Wilson MZ, Ravindran PT, Lim WA, Toettcher JE.
			.journal <em>Mol Cell</em>. 2017
			a(href="pdfs/mzw_2017.pdf") PDF. 

			.title Synthetic Immunology: Hacking Immune Cells to Expand Their Therapeutic Capabilities
			.authors Roybal KT, Lim WA.
			.journal <em>Annu Rev Immunol</em>. 2017
			a(href="pdfs/roybal_rev_2017.pdf") PDF. 

			.title CRISPR/Cas9-mediated PD-1 disruption enhances anti-tumor efficacy of human chimeric antigen receptor T cells
			.authors Rupp LJ, Schumann K, Roybal KT, Gate RE, Ye CJ, Lim WA, Marson A.
			.journal <em>Sci Rep</em>. 2017
			a(href="pdfs/ljr_2017.pdf") PDF. 

			.title The Principles of Engineering Immune Cells to Treat Cancer
			.authors Lim WA, June CH.
			.journal <em>Cell</em>. 2017
			a(href="pdfs/wal_2017.pdf") PDF. 

			.title Interrogating cellular perception and decision making with optogenetic tools
			.authors Bugaj LJ, O'Donoghue GP, Lim WA.
			.journal <em>J Cell Biol</em>. 2017
			a(href="pdfs/ljb_2017.pdf") PDF. 

			.title Engineering Therapeutic T Cells: From Synthetic Biology to Clinical Trials
			.authors Esensten JH, Bluestone JA, Lim WA.
			.journal <em>Annu Rev Pathol</em>. 2017
			a(href="pdfs/esensten_rev_2017.pdf") PDF. 

			.title Engineering dynamical control of cell fate switching using synthetic phospho-regulons
			.authors Gordley RM, Williams RE, Bashor CJ, Toettcher JE, Yan S, Lim WA.
			.journal <em>Proc Natl Acad Sci U S A</em>. 2016
			a(href="pdfs/rmg_2016_2.pdf") PDF. 

			.title Complex transcriptional modulation with orthogonal and inducible dCas9 regulators
			.authors Gao Y, Xiong X, Wong S, Charles EJ, Lim WA, Qi LS.
			.journal <em>Nat Methods</em>. 2016
			a(href="pdfs/yg_2016.pdf") PDF. 

			.title Engineering T Cells with Customized Therapeutic Response Programs Using Synthetic Notch Receptors
			.authors Roybal KT, Williams JZ, Morsut L, Rupp LJ, Kolinko I, Choe JH, Walker WJ, McNally KA, Lim WA.
			.journal <em>Cell</em>. 2016
			a(href="pdfs/ktr_2016_2.pdf") PDF. 

			.title Cellular perception and misperception: Internal models for decision-making shaped by evolutionary experience
			.authors Mitchell A, Lim W.
			.journal <em>Bioessays</em>. 2016
			a(href="pdfs/am_2016.pdf") PDF. 

			.title Modular engineering of cellular signaling proteins and networks
			.authors Gordley RM, Bugaj LJ, Lim WA.
			.journal <em>Curr Opin Struct Biol</em>. 2016
			a(href="pdfs/gordley_rev_2016.pdf") PDF. 

			.title CRISPR/Cas9 for Human Genome Engineering and Disease Research
			.authors Xiong X, Chen M, Lim WA, Zhao D, Qi LS.
			.journal <em>Annu Rev Genomics Hum Genet</em>. 2016
			a(href="pdfs/xiong_rev_2016.pdf") PDF. 

			.title Nucleosome breathing and remodeling constrain CRISPR-Cas9 function
			.authors Isaac RS, Jiang F, Doudna JA, Lim WA, Narlikar GJ, Almeida R.
			.journal <em>Elife</em>. 2016
			a(href="pdfs/rsi_2016.pdf") PDF. 

			.title Precision Tumor Recognition by T Cells With Combinatorial Antigen-Sensing Circuits
			.authors Roybal KT, Rupp LJ, Morsut L, Walker WJ, McNally KA, Park JS, Lim WA.
			.journal <em>Cell</em>. 2016
			a(href="pdfs/ktr_2016.pdf") PDF. 

			.title Engineering Customized Cell Sensing and Response Behaviors Using Synthetic Notch Receptors
			.authors Morsut L, Roybal KT, Xiong X, Gordley RM, Coyle SM, Thomson M, Lim WA.
			.journal <em>Cell</em>. 2016
			a(href="pdfs/lm_2016.pdf") PDF. 

			.title Mapping the functional versatility and fragility of Ras GTPase signaling circuits through in vitro network reconstitution
			.authors Coyle SM, Lim WA.
			.journal <em>Elife</em>. 2016
			a(href="pdfs/smc_2016.pdf") PDF. 

			.title Expanding the CRISPR imaging toolset with Staphylococcus aureus Cas9 for simultaneous imaging of multiple genomic loci
			.authors Chen B, Hu J, Almeida R, Liu H, Balakrishnan S, Covill-Cooke C, Lim WA, Huang B.
			.journal <em>Nucleic Acids Res</em>. 2016
			a(href="pdfs/bc_2016.pdf") PDF. 

			.title Beyond editing: repurposing CRISPR-Cas9 for precision genome regulation and interrogation
			.authors Dominguez AA, Lim WA, Qi LS.
			.journal <em>Nat Rev Mol Cell Biol</em>. 2016
			a(href="pdfs/wal_2015.pdf") PDF. 

			.title Oscillatory stress stimulation uncovers an Achilles' heel of the yeast MAPK signaling network
			.authors Mitchell A, Wei P, Lim WA.
			.journal <em>Science</em>. 2015
			a(href="pdfs/am2015_1.pdf") PDF. 

			.title Remote control of therapeutic T cells through a small molecule-gated chimeric receptor
			.authors Wu CY, Roybal KT, Puchner EM, Onuffer J, Lim WA.
			.journal <em>Science</em>. 2015
			a(href="pdfs/cyw2015_2.pdf") PDF. 

			.title Synthetic biology approaches to engineer T cells
			.authors Wu CY, Rupp LJ, Roybal KT, Lim WA.
			.journal <em>Curr Opin Immunol</em>. 2015
			a(href="pdfs/cyw2015_1.pdf") PDF. 

			.title Differential genetic interactions of yeast stress response MAPK pathways
			.authors Martin H, Shales M, Fernandez-Piñar P, Wei P, Molina M, Fiedler D, Shokat KM, Beltrao P, Lim W, Krogan NJ.
			.journal <em>Mol Syst Biol</em>. 2015
			a(href="pdfs/martin_2015.pdf") PDF. 

			.title Engineering complex synthetic transcriptional programs with CRISPR RNA scaffolds
			.authors Zalatan JG, Lee ME, Almeida R, Gilbert LA, Whitehead EH, La Russa M, Tsai JC, Weissman JS, Dueber JE, Qi LS, Lim WA.
			.journal <em>Cell</em>. 2015
			a(href="pdfs/jgz_2015.pdf") PDF. 

			.title Specific gene repression by CRISPRi system transferred through bacterial conjugation
			.authors Ji W, Lee D, Wong E, Dadlani P, Dinh D, Huang V, Kearns K, Teng S, Chen S, Haliburton J, Heimberg G, Heineike B, Ramasubramanian A, Stevens T, Helmke KJ, Zepeda V, Qi LS, Lim WA.
			.journal <em>ACS Synth Biol</em>. 2014
			a(href="pdfs/wj_2014.pdf") PDF. 

			.title Sending mixed messages for cell population control
			.authors Youk H, Lim WA.
			.journal <em>Cell</em>. 2014
			a(href="pdfs/dandekar_2013.pdf") PDF. 

			.title Synthetic control of mammalian-cell motility by engineering chemotaxis to an orthogonal bioinert chemical signal
			.authors Park JS, Rhau B, Hermann A, McNally KA, Zhou C, Gong D, Weiner OD, Conklin BR, Onuffer J, Lim WA.
			.journal <em>Proc Natl Acad Sci U S A</em>. 2014
			a(href="pdfs/2014_Park.pdf") PDF. 

			.title Secreting and sensing the same molecule allows cells to achieve versatile social behaviors
			.authors Youk H, Lim WA.
			.journal <em>Science</em>. 2014
			a(href="pdfs/lee_2014_perspective.pdf") PDF. 

			.title Using optogenetics to interrogate the dynamic control of signal transmission by the Ras/Erk module
			.authors Toettcher JE, Weiner OD, Lim WA.
			.journal <em>Cell</em>. 2013
			a(href="pdfs/2013_Toettcher.pdf") PDF. 

			.title CRISPR interference (CRISPRi) for sequence-specific control of gene expression
			.authors Larson MH, Gilbert LA, Wang X, Lim WA, Weissman JS, Qi LS.
			.journal <em>Nat Protoc</em>. 2013
			a(href="pdfs/larson_2013.pdf") PDF. 

			.title Actin dynamics rapidly reset chemoattractant receptor sensitivity following adaptation in neutrophils
			.authors Dandekar SN, Park JS, Peng GE, Onuffer JJ, Lim WA, Weiner OD.
			.journal <em>Philos Trans R Soc Lond B Biol Sci</em>. 2013
			a(href="pdfs/2013_Dandekar.pdf") PDF. 

			.title Counting molecules in single organelles with superresolution microscopy allows tracking of the endosome maturation trajectory
			.authors Puchner EM, Walter JM, Kasper R, Huang B, Lim WA.
			.journal <em>Proc Natl Acad Sci U S A</em>. 2013
			a(href="pdfs/2013_Puchner.pdf") PDF. 

			.title Exploitation of latent allostery enables the evolution of new modes of MAP kinase regulation
			.authors Coyle SM, Flores J, Lim WA.
			.journal <em>Cell</em>. 2013
			a(href="pdfs/2013_Coyle.pdf") PDF. 

			.title CRISPR-mediated modular RNA-guided regulation of transcription in eukaryotes
			.authors Gilbert LA, Larson MH, Morsut L, Liu Z, Brar GA, Torres SE, Stern-Ginossar N, Brandman O, Whitehead EH, Doudna JA, Lim WA, Weissman JS, Qi LS.
			.journal <em>Cell</em>. 2013
			a(href="pdfs/2013_Gilbert.pdf") PDF. 

			.title Improved blue, green, and red fluorescent protein tagging vectors for S. cerevisiae
			.authors Lee S, Lim WA, Thorn KS.
			.journal <em>PLoS One</em>. 2013
			a(href="pdfs/lee_2013.pdf") PDF. 

			.title Cell-based therapeutics: the next pillar of medicine
			.authors Fischbach MA, Bluestone JA, Lim WA.
			.journal <em>Sci Transl Med</em>. 2013
			a(href="pdfs/fischbach_2013.pdf") PDF. 

			.title Repurposing CRISPR as an RNA-guided platform for sequence-specific control of gene expression
			.authors Qi LS, Larson MH, Gilbert LA, Doudna JA, Weissman JS, Arkin AP, Lim WA.
			.journal <em>Cell</em>. 2013
			a(href="pdfs/2013_Qi.pdf") PDF. 

			.title Bridging cross-cultural gaps in scientific exchange through innovative team challenge workshops
			.authors Lee CM, Gong S, Tang C, Lim WA.
			.journal <em>Quant Biol</em>. 2013
			a(href="pdfs/Lee_C_2013.pdf") PDF. 

			.title Design principles of regulatory networks: searching for the molecular algorithms of the cell
			.authors Lim WA, Lee CM, Tang C.
			.journal <em>Mol Cell</em>. 2013
			a(href="pdfs/Lim_2013.pdf") PDF. 

			.title Designing synthetic regulatory networks capable of self-organizing cell polarization
			.authors Chau AH, Walter JM, Gerardin J, Tang C, Lim WA.
			.journal <em>Cell</em>. 2012
			a(href="pdfs/2012_Chau.pdf") PDF. 

			.title Conformational control of the Ste5 scaffold protein insulates against MAP kinase misactivation
			.authors Zalatan JG, Coyle SM, Rajan S, Sidhu SS, Lim WA.
			.journal <em>Science</em>. 2012
			a(href="pdfs/zalatan_2012.pdf") PDF. 

			.title Bacterial virulence proteins as tools to rewire kinase pathways in yeast and immune cells
			.authors Wei P, Wong WW, Park JS, Corcoran EE, Peisajovich SG, Onuffer JJ, Weiss A, Lim WA.
			.journal <em>Nature</em>. 2012
			a(href="pdfs/2012_Wei.pdf") PDF. 

			.title Systematic functional prioritization of protein posttranslational modifications
			.authors Beltrao P, Albanèse V, Kenner LR, Swaney DL, Burlingame A, Villén J, Lim WA, Fraser JS, Frydman J, Krogan NJ.
			.journal <em>Cell</em>. 2012
			a(href="pdfs/2012_Beltrao.pdf") PDF. 

			.title Control of protein signaling using a computationally designed GTPase/GEF orthogonal pair
			.authors Kapp GT, Liu S, Stein A, Wong DT, Reményi A, Yeh BJ, Fraser JS, Taunton J, Lim WA, Kortemme T.
			.journal <em>Proc Natl Acad Sci U S A</em>. 2012
			a(href="pdfs/2012_Kapp.pdf") PDF. 

			.title Light-based feedback for controlling intracellular signaling dynamics
			.authors Toettcher JE, Gong D, Lim WA, Weiner OD.
			.journal <em>Nat Methods</em>. 2011
			a(href="pdfs/2011_Toettcher.pdf") PDF. 

			.title Recruitment interactions can override catalytic interactions in determining the functional identity of a protein kinase
			.authors Won AP, Garbarino JE, Lim WA.
			.journal <em>Proc Natl Acad Sci U S A</em>. 2011
			a(href="pdfs/won_2011.pdf") PDF. 

			.title Light control of plasma membrane recruitment using the Phy-PIF system
			.authors Toettcher JE, Gong D, Lim WA, Weiner OD.
			.journal <em>Methods Enzymol</em>. 2011
			a(href="pdfs/2011_Toettcher.pdf") PDF. 

			.title Scaffold proteins: hubs for controlling the flow of cellular information
			.authors Good MC, Zalatan JG, Lim WA.
			.journal <em>Science</em>. 2011
			a(href="pdfs/Good_2011.pdf") PDF. 

			.title The promise of optogenetics in cell biology: interrogating molecular circuits in space and time
			.authors Toettcher JE, Voigt CA, Weiner OD, Lim WA.
			.journal <em>Nat Methods</em>. 2011
			a(href="pdfs/2011_Toettcher.pdf") PDF. 

			.title Phosphotyrosine signaling: evolving a new cellular communication system
			.authors Lim WA, Pawson T.
			.journal <em>Cell</em>. 2010
			a(href="pdfs/2010_Lim.pdf") PDF. 

			.title The minimal autoinhibited unit of the guanine nucleotide exchange factor intersectin
			.authors Ahmad KF, Lim WA.
			.journal <em>PLoS One</em>. 2010
			a(href="pdfs/2010_Ahmad.pdf") PDF. 

			.title Designing customized cell signalling circuits
			.authors Lim WA.
			.journal <em>Nat Rev Mol Cell Biol</em>. 2010
			a(href="pdfs/2010_Lim.pdf") PDF. 

			.title Rapid diversification of cell signaling phenotypes by modular domain recombination
			.authors Peisajovich SG, Garbarino JE, Wei P, Lim WA.
			.journal <em>Science</em>. 2010
			a(href="pdfs/sgp_2010_comm1.pdf") PDF. 

			.title Rewiring cells: synthetic biology as a tool to interrogate the organizational principles of living systems
			.authors Bashor CJ, Horwitz AA, Peisajovich SG, Lim WA.
			.journal <em>Annu Rev Biophys</em>. 2010
			a(href="pdfs/2010_Bashor.pdf") PDF. 

			.title Spatiotemporal control of cell signalling using a light-switchable protein interaction
			.authors Levskaya A, Weiner OD, Lim WA, Voigt CA.
			.journal <em>Nature</em>. 2009
			a(href="pdfs/Levskaya_2009.pdf") PDF. 

			.title Evolution of phosphoregulation: comparison of phosphorylation patterns across yeast species
			.authors Beltrao P, Trinidad JC, Fiedler D, Roguev A, Lim WA, Shokat KM, Burlingame AL, Krogan NJ.
			.journal <em>PLoS Biol</em>. 2009
			a(href="pdfs/2009_Beltrao.pdf") PDF. 

			.title The Ste5 scaffold directs mating signaling by catalytically unlocking the Fus3 MAP kinase for activation
			.authors Good M, Tang G, Singleton J, Reményi A, Lim WA.
			.journal <em>Cell</em>. 2009
			a(href="pdfs/mcg_2009_comm.pdf") PDF. 

			.title Frederic M Richards 1925-2009
			.authors Lim WA.
			.journal <em>Nat Struct Mol Biol</em>. 2009
			a(href="pdfs/lim_2009.pdf") PDF. 

			.title The pathogen protein EspF(U) hijacks actin polymerization using mimicry and multivalency
			.authors Sallee NA, Rivera GM, Dueber JE, Vasilescu D, Mullins RD, Mayer BJ, Lim WA.
			.journal <em>Nature</em>. 2008
			a(href="pdfs/2008_Sallee.pdf") PDF. 

			.title Evolution of the phospho-tyrosine signaling machinery in premetazoan lineages
			.authors Pincus D, Letunic I, Bork P, Lim WA.
			.journal <em>Proc Natl Acad Sci U S A</em>. 2008
			a(href="pdfs/dp_2008_comm.pdf") PDF. 

			.title Using engineered scaffold interactions to reshape MAP kinase pathway signaling dynamics
			.authors Bashor CJ, Helman NC, Yan S, Lim WA.
			.journal <em>Science</em>. 2008
			a(href="pdfs/cjb_2008_comm.pdf") PDF. 

			.title Synthetic biology: lessons from the history of synthetic organic chemistry
			.authors Yeh BJ, Lim WA.
			.journal <em>Nat Chem Biol</em>. 2007
			a(href="pdfs/2007_Yeh.pdf") PDF. 

			.title Rewiring cellular morphology pathways with synthetic guanine nucleotide exchange factors
			.authors Yeh BJ, Rutigliano RJ, Deb A, Bar-Sagi D, Lim WA.
			.journal <em>Nature</em>. 2007
			a(href="pdfs/bjy_2007_comm.pdf") PDF. 

			.title Engineering synthetic signaling proteins with ultrasensitive input/output control
			.authors Dueber JE, Mirsky EA, Lim WA.
			.journal <em>Nat Biotechnol</em>. 2007
			a(href="pdfs/2007_Dueber.pdf") PDF. 

			.title Engineering modular protein interaction switches by sequence overlap
			.authors Sallee NA, Yeh BJ, Lim WA.
			.journal <em>J Am Chem Soc</em>. 2007
			a(href="pdfs/Sallee_2007.pdf") PDF. 

			.title Docking interactions in protein kinase and phosphatase networks
			.authors Reményi A, Good MC, Lim WA.
			.journal <em>Curr Opin Struct Biol</em>. 2006
			a(href="pdfs/Remenyi_2006.pdf") PDF. 

			.title Domains, motifs, and scaffolds: the role of modular interactions in the evolution and wiring of cell signaling circuits
			.authors Bhattacharyya RP, Reményi A, Yeh BJ, Lim WA.
			.journal <em>Annu Rev Biochem</em>. 2006
			a(href="pdfs/2006_Bhattacharyya.pdf") PDF. 

			.title The Ste5 scaffold allosterically modulates signaling output of the yeast mating pathway
			.authors Bhattacharyya RP, Reményi A, Good MC, Bashor CJ, Falick AM, Lim WA.
			.journal <em>Science</em>. 2006
			a(href="pdfs/rpb_2006_comm.pdf") PDF. 

			.title The role of docking interactions in mediating signaling input, output, and discrimination in the yeast MAPK network
			.authors Reményi A, Good MC, Bhattacharyya RP, Lim WA.
			.journal <em>Mol Cell</em>. 2005
			a(href="pdfs/Remenyi_2005.pdf") PDF. 

			.title A general model for preferential hetero-oligomerization of LIN-2/7 domains: mechanism underlying directed assembly of supramolecular signaling complexes
			.authors Petrosky KY, Ou HD, Löhr F, Dötsch V, Lim WA.
			.journal <em>J Biol Chem</em>. 2005
			a(href="pdfs/2005_Petrosky.pdf") PDF. 

			.title A polybasic motif allows N-WASP to act as a sensor of PIP(2) density
			.authors Papayannopoulos V, Co C, Prehoda KE, Snapper S, Taunton J, Lim WA.
			.journal <em>Mol Cell</em>. 2005
			a(href="pdfs/vp_2005_comm.pdf") PDF. 

			.title Rewiring cell signaling: the logic and plasticity of eukaryotic protein circuitry
			.authors Dueber JE, Yeh BJ, Bhattacharyya RP, Lim WA.
			.journal <em>Curr Opin Struct Biol</em>. 2004
			a(href="pdfs/2004_Dueber.pdf") PDF. 

			.title Sho1 and Pbs2 act as coscaffolds linking components in the yeast high osmolarity MAP kinase pathway
			.authors Zarrinpar A, Bhattacharyya RP, Nittler MP, Lim WA.
			.journal <em>Mol Cell</em>. 2004
			a(href="pdfs/az_2004_comm.pdf") PDF. 

			.title Optimization of specificity in a cellular protein interaction network by negative selection
			.authors Zarrinpar A, Park SH, Lim WA.
			.journal <em>Nature</em>. 2003
			a(href="pdfs/az_2003b_comm.pdf") PDF. 

			.title Reprogramming control of an allosteric signaling switch through modular recombination
			.authors Dueber JE, Yeh BJ, Chak K, Lim WA.
			.journal <em>Science</em>. 2003
			a(href="pdfs/Dueber_2003.pdf") PDF. 

			.title The structure and function of proline recognition domains
			.authors Zarrinpar A, Bhattacharyya RP, Lim WA.
			.journal <em>Sci STKE</em>. 2003
			a(href="pdfs/Zarrinpar_2003.pdf") PDF. 

			.title Complex inheritance of familial hypercholanemia with associated mutations in TJP2 and BAAT
			.authors Carlton VE, Harris BZ, Puffenberger EG, Batta AK, Knisely AS, Robinson DL, Strauss KA, Shneider BL, Lim WA, Salen G, Morton DH, Bull LN.
			.journal <em>Nat Genet</em>. 2003
			a(href="pdfs/Carlton_2003.pdf") PDF. 

			.title Role of electrostatic interactions in PDZ domain ligand recognition
			.authors Harris BZ, Lau FW, Fujii N, Guy RK, Lim WA.
			.journal <em>Biochemistry</em>. 2003
			a(href="pdfs/2003_Harris.pdf") PDF. 

			.title Rewiring MAP kinase pathways using alternative scaffold assembly mechanisms
			.authors Park SH, Zarrinpar A, Lim WA.
			.journal <em>Science</em>. 2003
			a(href="pdfs/shp_2003_comm.pdf") PDF. 

			.title Shared receptors in axon guidance: SAX-3/Robo signals via UNC-34/Enabled and a Netrin-independent UNC-40/DCC function
			.authors Yu TW, Hao JC, Lim W, Tessier-Lavigne M, Bargmann CI.
			.journal <em>Nat Neurosci</em>. 2002
			a(href="pdfs/Yu_2002.pdf") PDF. 

			.title Coordinated folding and association of the LIN-2, -7 (L27) domain. An obligate heterodimerization involved in assembly of signaling and cell polarity complexes
			.authors Harris BZ, Venkatasubrahmanyam S, Lim WA.
			.journal <em>J Biol Chem</em>. 2002
			a(href="pdfs/2002_Harris.pdf") PDF. 

			.title The modular logic of signaling proteins: building allosteric switches from simple binding domains
			.authors Lim WA.
			.journal <em>Curr Opin Struct Biol</em>. 2002
			a(href="pdfs/2002_Lim.pdf") PDF. 

			.title Structure of the SH3-guanylate kinase module from PSD-95 suggests a mechanism for regulated assembly of MAGUK scaffolding proteins
			.authors McGee AW, Dakoji SR, Olsen O, Bredt DS, Lim WA, Prehoda KE.
			.journal <em>Mol Cell</em>. 2001
			a(href="pdfs/awm_2001_comm.pdf") PDF. 

			.title Mechanism and role of PDZ domains in signaling complex assembly
			.authors Harris BZ, Lim WA.
			.journal <em>J Cell Sci</em>. 2001
			a(href="pdfs/2001_Harris.pdf") PDF. 

			.title An analysis of the interactions between the Sem-5 SH3 domain and its ligands using molecular dynamics, free energy calculations, and sequence analysis
			.authors Wang W, Lim WA, Jakalian A, Wang J, Wang J, Luo R, Bayly CI, Kollman PA.
			.journal <em>J Am Chem Soc</em>. 2001
			a(href="pdfs/Wang_2001.pdf") PDF. 

			.title Energetic determinants of internal motif recognition by PDZ domains
			.authors Harris BZ, Hillier BJ, Lim WA.
			.journal <em>Biochemistry</em>. 2001
			a(href="pdfs/2001_Harris.pdf") PDF. 

			.title Integration of multiple signals through cooperative regulation of the N-WASP-Arp2/3 complex
			.authors Prehoda KE, Scott JA, Mullins RD, Lim WA.
			.journal <em>Science</em>. 2000
			a(href="pdfs/Prehoda_2000.pdf") PDF. 

			.title Improving SH3 domain ligand selectivity using a non-natural scaffold
			.authors Nguyen JT, Porter M, Amoui M, Miller WT, Zuckermann RN, Lim WA.
			.journal <em>Chem Biol</em>. 2000
			a(href="pdfs/2000_Nguyen.pdf") PDF. 

			.title PSD-95 assembles a ternary complex with the N-methyl-D-aspartic acid receptor and a bivalent neuronal NO synthase PDZ domain
			.authors Christopherson KS, Hillier BJ, Lim WA, Bredt DS.
			.journal <em>J Biol Chem</em>. 1999
			a(href="pdfs/1999_Christopherson.pdf") PDF. 

			.title Structure of the enabled/VASP homology 1 domain-peptide complex: a key component in the spatial control of actin assembly
			.authors Prehoda KE, Lee DJ, Lim WA.
			.journal <em>Cell</em>. 1999
			a(href="pdfs/1999_Prehoda.pdf") PDF. 

			.title Unexpected modes of PDZ domain scaffolding revealed by structure of nNOS-syntrophin complex
			.authors Hillier BJ, Christopherson KS, Prehoda KE, Bredt DS, Lim WA.
			.journal <em>Science</em>. 1999
			a(href="pdfs/bjh_1999_comm.pdf") PDF. 

			.title Exploiting the basis of proline recognition by SH3 and WW domains: design of N-substituted inhibitors
			.authors Nguyen JT, Turck CW, Cohen FE, Zuckermann RN, Lim WA.
			.journal <em>Science</em>. 1998
			a(href="pdfs/jtn_1998_comm.pdf") PDF. 


		#title.container
			h1.s12
				span.part1  Lim Lab
				span.part2 | Books

		#content.container
			.title Cell Signaling: Principles and Mechanisms.
			.authors Lim WA, Mayer BJ, Pawson T. Morales M, editor.
			.journal New York, NY, USA: Garland Science; 2014



		include ./components/footer.jade
