html
	head
		title People | Lim Lab
		include ./components/head.jade
		<link type="text/css" rel="stylesheet" href="css/people.css"  media="screen,projection"/>
	body
		include ./components/header.jade
		#title.container
			h1.s12
				span.part1 Lim Lab 
				span.part2 | People

		#current.container
			.row 
				.s12
					img(src="images/labphoto_2022.jpeg").responsive-img

			#principal.row
				.col.s12.m4
					h3.name 
						a(href="people/wendell.html") Wendell Lim
					h4.position Principal Investigator
					h3.name Noleine Blizzard
					h4.position Administrator
				

			.row
				ul
					.col.s12.m6
						li.member
							a(href="people/adamstevens.html") Adam Stevens
						li.member
							a(href="people/arseniadeguzman.html") Arsenia deGuzman
						li.member
							a(href="people/ceciliazhang.html") Cecilia Zhang
						li.member
							a(href="people/chanelleshepherd.html") Chanelle Shepherd
						li.member
							a(href="people/devanshah.html") Devan Shah
						li.member
							a(href="people/gregallen.html") Greg Allen
						li.member
							a(href="people/hershbhargava.html") Hersh Bhargava
						li.member
							a(href="people/jeremyvillafuerte.html") Jeremy Villafuerte
						li.member
							a(href="people/josiahgerdts.html") Josiah Gerdts
						li.member
							a(href="people/jungminlee.html") Jungmin Lee
						li.member
							a(href="people/kikim.html") Ki Kim
						li.member
							a(href="people/mikailalejandro.html") Mikail Alejandro

					.col.s12.m6

						li.member
							a(href="people/milossimic.html") Milos Simic
						li.member
							a(href="people/nickshin.html") Nick Shin
						li.member
							a(href="people/nishreddy.html") Nish Reddy
						li.member
							a(href="people/oscarcampos.html") Oscar Campos
						li.member
							a(href="people/pilarlopez.html") Pilar Lopez
						li.member
							a(href="people/philippauerstein.html") Philip Pauerstein
						li.member
							a(href="people/ricardoalmeida.html") Ricardo Almeida
						li.member
							a(href="people/simsidhu.html") Sim Sidhu
						li.member
							a(href="people/rileystockard.html") Riley Stockard
						li.member
							a(href="people/toshimichiyamada.html") Toshimichi Yamada
						li.member
							a(href="people/weiyu.html") Wei Yu
						li.member
							a(href="people/yurietonai.html") Yurie Tonai

			#principal.row
				.col.s12.m4
					h3.name 
						a(href="people/alumni.html") Lim Lab Alumni
		#alumni.container
			h3
				Lab Photos
			#collage.row.clearfix
				.col.s12.m4
					.photo
						img(src="images/people/alumni/alumni-0.jpg")
					//	a.modal-trigger.waves-effect.waves-light(href="#alumni0")
					//#alumni0.modal
					//	img(src="images/people/alumni/alumni-0.jpeg")
					.photo
						img(src="images/people/alumni/alumni-1.jpeg")
					.photo
						img(src="images/people/alumni/alumni-2.jpeg")
					.photo
						img(src="images/people/alumni/alumni-3.jpeg")
					.photo
						img(src="images/people/alumni/alumni-4.jpeg")
					.photo
						img(src="images/people/alumni/alumni-5.jpeg")
					.photo
						img(src="images/people/alumni/alumni-6.jpeg")
				.col.s12.m4
					.photo
						img(src="images/people/alumni/alumni-7.jpeg")
					.photo
						img(src="images/people/alumni/alumni-8.jpg")
					.photo
						img(src="images/people/alumni/alumni-9.jpg")
					.photo
						img(src="images/people/alumni/alumni-10.jpg")
					.photo
						img(src="images/people/alumni/alumni-11.jpg")
					.photo
						img(src="images/people/alumni/alumni-12.jpg")
					.photo
						img(src="images/people/alumni/alumni-13.jpg")
					.photo
						img(src="images/people/alumni/alumni-14.jpg")
					.photo
						img(src="images/people/alumni/alumni-15.jpg")
					.photo
						img(src="images/people/alumni/alumni-16.jpg")
				.col.s12.m4
					.photo
						img(src="images/people/alumni/alumni-17.png")
					.photo
						img(src="images/people/alumni/alumni-18.jpg")
					.photo
						img(src="images/people/alumni/alumni-19.jpg")
					.photo
						img(src="images/people/alumni/alumni-20.jpg")
					.photo
						img(src="images/people/alumni/alumni-21.jpg")
					.photo
						img(src="images/people/alumni/alumni-22.jpg")
					.photo
						img(src="images/people/alumni/alumni-23.jpg")
					.photo
						img(src="images/people/alumni/alumni-24.jpg")
					.photo
						img(src="images/people/alumni/alumni-25.jpg")
		
		include ./components/footer.jade
		script(type='text/javascript').
				